@use "../../variables.scss";

.MonacoEditor--wrapper {
  margin-bottom: 20px;
  overflow: auto;
  border: 1px solid variables.$border-color;
  border-radius: 4px;

  .error-highlight {
    background: var(--error-color-light);
    position: absolute;
  }

  .disabled-ace-editor {
    opacity: 0.5;
  }

  .ace_search {
    left: 0;
    right: auto;
  }
}

.MonacoDiffEditor--wrapper {
  overflow: auto;
  border: 1px solid variables.$border-color;
  border-radius: 4px;

  .error-highlight {
    background: var(--error-color-light);
    position: absolute;
  }

  .disabled-ace-editor {
    opacity: 0.5;
  }

  .ace_search {
    left: 0;
    right: auto;
  }
}
