// navigation
$nav-color: #ffffff;
$nav-text-color: #4a4a4a;
$sub-nav-color: #f5f8f9;
$sub-nav-text-color: #9c9c9c;

// colors
$primary-color: #326de6;
$secondary-color: #9c9c9c;
$accent-color: #326de6;
$light-accent: #e1f0f1;
$muted-light-accent: #bccacd;
$really-light-accent: #f5f8f9;
$light-taupe: #fffdf6;
$border-color: #c4c8ca;

// errors and warnings
$error-color: #f65c5c;
$error-color-light: #ffd1c7;
$warning-color: #f7b500;
$success-color: #38cc97;

// text
$text-color-primary: #323232;
$text-color-secondary: #4a4a4a;
$text-color-header: #577981;
$text-color-body-copy: #9c9c9c;
$text-color-accent: #717171;
$text-color-info: #c4c8ca;

// links
$link-color: #326de6;
$link-hover-color: #326de6;

// misc
$gitops-color: #e9e5ef;
$border-radius: 4px;

// custom branding fallbacks
:root {
  // navigation
  --nav-color: $nav-color;
  --nav-text-color: $nav-text-color;
  --sub-nav-color: $sub-nav-color;
  --sub-nav-text-color: $sub-nav-text-color;

  // colors
  --primary-color: var(--override-blue, #{$primary-color});
  // --primary-color: var(--override-blue, $primary-color);
  --secondary-color: var(--override-dark-gray, #{$secondary-color});
  --accent-color: var(--override-blue, #{$accent-color});
  --light-accent: $light-accent;
  --muted-light-accent: $muted-light-accent;
  --really-light-accent: $really-light-accent;
  --light-taupe: $light-taupe;
  --border-color: $border-color;

  // errors and warnings
  --error-color: $error-color;
  --error-color-light: $error-color-light;
  --warning-color: $warning-color;
  --success-color: $success-color;

  // text
  --text-color-primary: $text-color-primary;
  --text-color-secondary: $text-color-secondary;
  --text-color-header: $text-color-header;
  --text-color-body-copy: $text-color-body-copy;
  --text-color-accent: $text-color-accent;
  --text-color-info: $text-color-info;

  // links
  --link-color: var(--override-blue, #{$link-color});
  --link-hover-color: var(--override-blue, #{$link-hover-color});

  // misc
  --gitops-color: $gitops-color;
  --border-radius: $border-radius;
}
