@use "sass:color";
// navigation
$nav-color: #ffffff;
$nav-text-color: #4a4a4a;
$sub-nav-color: #f5f8f9;
$sub-nav-text-color: #9c9c9c;

// colors
$primary-color: #326de6;
$primary-dark-color: color.adjust($primary-color, $lightness: -8%);
$primary-extra-dark-color: color.adjust($primary-color, $lightness: -35%);
$primary-less-light-color: color.adjust($primary-color, $lightness: 25%);
$primary-light-color: color.adjust($primary-color, $lightness: 43.5%);
$secondary-color: #9c9c9c;
$secondary-light-color: color.adjust($secondary-color, $lightness: 25%);
$light-accent: #e1f0f1;
$muted-light-accent: #bccacd;
$really-light-accent: #f5f8f9;
$light-taupe: #fffdf6;
$border-color: #c4c8ca;

// errors and warnings
$error-color: #f65c5c;
$error-color-light: #ffd1c7;
$warning-color: #f7b500;
$warning-color-light: #fff3d3;
$success-color: #38cc97;
$success-color-light: color.adjust($success-color, $lightness: 43.5%);

// text
$text-color-primary: #323232;
$text-color-secondary: #4a4a4a;
$text-color-header: #577981;
$text-color-body-copy: #9c9c9c;
$text-color-accent: #717171;
$text-color-info: #c4c8ca;

// links
$link-color: #326de6;

// misc
$border-radius: 4px;
$file-tree-color: color.adjust($primary-color, $lightness: -42%);
$file-tree-highlight-color: #032c50;
$gitops-color: #e9e5ef;

// custom branding fallbacks
:root {
  // vendor configurable (minimal recommended)
  --primary-color: #{$primary-color};
  --primary-disabled-color: #{$primary-less-light-color};
  --primary-hover-color: #{$primary-dark-color};
  --secondary-hover-color: #{$primary-light-color};
  --error-color: #{$error-color};
  --error-color-light: #{$error-color-light};
  --warning-color: #{$warning-color};
  --warning-color-light: #{$warning-color-light};
  --success-color: #{$success-color};
  --success-color-light: #{$success-color-light};

  // vendor configurable (additional overrides)
  --card-color: #{$really-light-accent};
  --file-tree-color: #{$file-tree-color};
  --file-tree-highlight-color: #{$file-tree-highlight-color};
  --icon-color: #{$primary-color};
  --link-color: var(--primary-color);
  --link-hover-color: var(--link-color);
  --subnav-color: #{$sub-nav-color};
  --tooltip-color: #{$primary-extra-dark-color};

  // inherited (not for vendor configuration- these need to be refactored)
  --secondary-light-color: #{$secondary-light-color};
}
