// navigation
$nav-color: #ffffff;
$nav-text-color: #4a4a4a;
$sub-nav-color: #f5f8f9;
$sub-nav-text-color: #9c9c9c;

// colors
$primary-color: #326de6;
$secondary-color: #9c9c9c;
$accent-color: #326de6;
$light-accent: #e1f0f1;
$muted-light-accent: #bccacd;
$really-light-accent: #f5f8f9;
$light-taupe: #fffdf6;
$border-color: #c4c8ca;

// errors and warnings
$error-color: #f65c5c;
$error-color-light: #ffd1c7;
$warning-color: #f7b500;
$success-color: #38cc97;

// text
$text-color-primary: #323232;
$text-color-secondary: #4a4a4a;
$text-color-header: #577981;
$text-color-body-copy: #9c9c9c;
$text-color-accent: #717171;
$text-color-info: #c4c8ca;

// links
$link-color: #326de6;
$link-hover-color: #326de6;

// misc
$gitops-color: #e9e5ef;
$border-radius: 4px;