@use "../../variables.scss";

.SupportBundle--Row {
  margin-bottom: 15px;
  .actions {
    top: 15px;
    right: 15px;
  }
  &:hover {
    background: variables.$primary-light-color;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.spec-row-wrapper {
  border-bottom: 1px solid variables.$border-color;

  .spec-wrapper {
    padding: 17px 12px;
  }
}

.spec-row-wrapper:hover {
  background-color: variables.$primary-light-color;
  cursor: pointer;
}

.FilterBundle--wrapper {
  padding-bottom: 17px;
}

.SelectApp {
  position: relative;
  width: 30%;
  background: #ffffff;
  font-size: 14px;
  color: variables.$text-color-primary;
  line-height: normal;
  outline: none;
  height: 40px;
  align-self: center;

  cursor: pointer;

  &.has-error,
  &.has-error:focus,
  &.has-error:active {
    border-color: var(--error-color);
  }
}

.bundle-row-wrapper {
  padding: 15px !important;
  cursor: pointer;
  border-radius: 4px !important;

  .spacer-div {
    width: 20px;
  }

  .analysis-icon-wrapper {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  .avatar-wrapper {
    width: 20px;
    height: 20px;

    span {
      border-radius: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.16);
      -moz-box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.16);
      box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.16);
    }
  }
}
.deleting {
  animation: blinker 3s linear infinite;
  cursor: not-allowed !important;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.CommunityLicenseBundle--wrapper {
  max-height: 94px;
  height: 94px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
  border: 1px solid var(--warning-color);
  background-color: #fff9e8;
  border-radius: 4px;
  margin-bottom: 36px;
  padding-left: 15px;
  padding-right: 15px;
}

.support-bundle-list-wrapper {
  width: 800px;
  margin: 0 auto;
}
.generate-support-modal {
  width: 700px;
}
.analyze-modal {
  margin-top: 30px;
  background: #f5f8f9;
  padding: 15px;
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  color: #4a4a4a;
  font-size: 14px;
}
.analyze-content {
  padding: 15px 0;
  gap: 40px;
  color: #4a4a4a;
}
.generating-bundle {
  opacity: 0.5;
  cursor: not-allowed !important;
}
.generating-bundle:hover {
  text-decoration: none !important;
}
