---
version: 2
updates:

  # Npm
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "daily"
      time: "15:15"
    labels:
      - "dependabot"
      - "javascript"
      - "type::security"
    groups:
      all:
        patterns:
        - "*"

  ## Go mod

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
      time: "15:00"
    labels:
      - "dependabot"
      - "go"
      - "type::security"
    groups:
      all:
        patterns:
        - "*"
        exclude-patterns:
        - "github.com/replicatedhq/troubleshoot"
        - "github.com/vmware-tanzu/velero"
      velero:
        patterns:
        - "github.com/vmware-tanzu/velero"
      troubleshoot:
        patterns:
        - "github.com/replicatedhq/troubleshoot"
    ignore:
      - dependency-name: "github.com/dexidp/dex"

  - package-ecosystem: "gomod"
    directory: "/kurl_proxy"
    schedule:
      interval: "daily"
      time: "15:00"
    labels:
      - "dependabot"
      - "go"
      - "type::security"
    groups:
      all:
        patterns:
        - "*"

  ## GitHub Actions

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "15:00"
    labels:
      - "dependabot"
      - "github-actions"
      - "type::security"
    groups:
      all:
        patterns:
        - "*"
