@use "sass:color";
@use "../../variables.scss";

.AppSnapshotsEmptyState--wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-card-wrapper {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.RestoreWarning--wrapper {
  background-color: var(--warning-color-light);
  color: var(--warning-color);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid variables.$border-color;
  border-right: 1px solid variables.$border-color;
  border-left: 1px solid variables.$border-color;
  &:last-child {
    border-bottom: 1px solid variables.$border-color;
  }
}

.InstallVelero--wrapper {
  max-width: 650px;
}

.CheckVelero--wrapper {
  background: variables.$sub-nav-color;
  border: 1px solid variables.$border-color;
  border-radius: 4px;
  max-height: 90px;
  padding: 20px;
}

.FailedRestore--wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.RestoreError--wrapper {
  background-color: var(--error-color-light);
  color: var(--error-color);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid variables.$border-color;
  border-right: 1px solid variables.$border-color;
  border-left: 1px solid variables.$border-color;
  &:last-child {
    border-bottom: 1px solid variables.$border-color;
  }
}

.slugArrow {
  position: absolute;
  left: 26px;
  bottom: 83px;
  background-color: variables.$primary-light-color;
  color: #073551;
  width: 150px;
  height: 36px;
  z-index: 999;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  &:after {
    display: inline-block;
    content: "";
    border-right: 1px solid variables.$border-color;
    border-top: 1px solid variables.$border-color;
    position: absolute;
    top: 5px;
    left: 155px;
    width: 25px;
    background: variables.$primary-light-color;
    height: 25px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.SnapshotRow--wrapper {
  padding: 10px 12px;
  background: variables.$sub-nav-color;
  border-radius: 4px;

  &.in-progress {
    background: variables.$primary-light-color;
  }
}

.snapshotDetails--wrapper {
  padding: 10px;
  background: #ffffff;
  border: 1px solid variables.$border-color;
  box-sizing: border-box;
  border-radius: 6px;
}

.DummySnapshotRow--wrapper {
  background: #f8f8f8;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 64px;
  padding: 12px;

  .EmptyRow {
    background: #eaeaea;
    border-radius: 2px;

    &.name {
      width: 179px;
      height: 14px;
    }
    &.created {
      width: 120px;
      height: 12px;
    }
    &.finished {
      width: 200px;
      height: 12px;
    }
    &.volumeSize {
      width: 50px;
      height: 16px;
    }
    &.volumes {
      width: 100px;
      height: 16px;
    }
  }

  .EmptyCircle {
    background: #eaeaea;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.GettingStartedSnapshots--wrapper {
  padding: 50px 80px !important;
  border-radius: 8px;
  padding: 25px;
  text-align: center;
}

.WarningScheduleSnapshots--wrapper {
  position: absolute;
  top: 250px;
  left: calc(50% + 125px);
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 250px;
  padding: 25px;
  text-align: center;
}

.WarningInstanceSnapshots--wrapper {
  position: absolute;
  top: 220px;
  left: 40%;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 250px;
  padding: 25px;
  text-align: center;
}

.VeleroWarningBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--warning-color-light);
  padding: 10px;

  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--warning-color);
    margin-left: 10px;
  }
}

.InfoSnapshots--wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 14px 25px;
  align-items: center;
}

.beta-tag {
  font-weight: bold;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 13px;
  text-transform: uppercase;
  background: #f9485c;
}

.SnapshotScheduleTabs--wrapper {
  width: 100%;
  max-width: 400px;
  border-bottom: 1px solid variables.$border-color;

  .tab-items .tab-item {
    font-size: 12px;
    font-weight: 500;
    color: variables.$text-color-body-copy;
    padding: 6px 15px 7px;
    line-height: 14px;
    cursor: pointer;
    transition: color 0.2s;
    position: relative;

    &:hover {
      color: variables.$text-color-accent;
    }

    &.is-active {
      color: variables.$text-color-secondary;
      font-weight: 600;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        display: block;
        background-color: var(--primary-color);
        bottom: 0;
        left: 0;
      }
    }
  }
}

.ConfigureSnapshotsTabs--wrapper {
  border-bottom: 1px solid variables.$border-color;

  .tab-items .tab-item {
    font-size: 14px;
    font-weight: 500;
    color: variables.$text-color-body-copy;
    padding: 6px 15px 7px;
    line-height: 14px;
    cursor: pointer;
    transition: color 0.2s;
    position: relative;

    &:hover {
      color: variables.$text-color-accent;
    }

    &.is-active {
      color: variables.$text-color-secondary;
      font-weight: 600;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        display: block;
        background-color: var(--primary-color);
        bottom: 0;
        left: 0;
      }
    }
  }
}

.schedule {
  width: 100%;
  max-width: 400px;
}

.app-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 40px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.SelectRestore--wrapper {
  background: #ffffff;
  border: 1px solid variables.$border-color;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px;
  width: 100%;
  cursor: pointer;

  &.is-selected {
    background: variables.$primary-light-color;
    border: 1px solid var(--primary-color);
  }
}

.StartSnapshotButton {
  cursor: pointer;
  outline: none;
  position: relative;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;

  &:not(:disabled):hover {
    background-color: color.adjust(variables.$primary-color, $lightness: -8%);
  }
  border-radius: 3px;
  height: 28px;
  width: 163px;
  position: absolute;
  top: 1px;
  left: 2px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
