.AppSnapshotsEmptyState--wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.dashboard-card-wrapper {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
  border-radius: 4px;
}
