# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
vendor
.idea/
.vscode/
pact_logs/
pacts/


# goreleaser
/dist

velero-credentials
supportbundle.tar.gz

.envrc
.DS_Store

# for the embed experiment
kubernetes/
kots.db
/archives/
kotsdata/

sbom/
cosign.key
pkg/tests/pull/cases/*/results
pkg/tests/renderdir/cases/*/results

melange.rsa
melange.rsa.pub
packages/*

# precommit
.pre-commit-config.yaml
