# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
vendor
.idea/
.vscode/

# goreleaser
/dist

velero-credentials
supportbundle.tar.gz

.envrc
.DS_Store

# for the embed experiment
kubernetes/
kots.db
/archives/
kotsdata/

sbom/
cosign.key
pkg/tests/pull/cases/configcontext/results
pkg/tests/pull/cases/customhostnames/results
pkg/tests/pull/cases/multidoc/results
pkg/tests/pull/cases/samechartvariations/results
pkg/tests/pull/cases/simple/results
pkg/tests/pull/cases/subchart-alias/results
pkg/tests/pull/cases/subchart-crds/results
pkg/tests/pull/cases/subcharts/results
