.u-color--chestnut { color: #BC4752; }
.u-color--tuna { color: #323232; }
.u-color--astral { color: #337AB7; }
.u-color--royalBlue { color: #326DE6; }
.u-color--tundora { color: #4A4A4A; }
.u-color--doveGray { color: #717171; }
.u-color--silverSand { color: #C4C8CA; }
.u-color--dustyGray { color: #9B9B9B; }
.u-color--nevada { color: #6D7278; }
.u-color--chateauGreen { color: #44BB66; }
.u-color--white { color: #FFFFFF; }
.u-color--red { color: #A31515; }
.u-color--orange { color: #DB9016; }
.u-color--vidaLoca { color: #65A61D; }
.u-color--emperor { color: #545454; }
.u-color--silverChalice { color: #AFAFAF; }
.u-color--selectiveYellow { color: #F7B500; }
.u-background--biscay { background-color: #193B5B;}