/*// --------------------------------------------------
// Flexbox stuff
// The spec: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes
// --------------------------------------------------
*/

.flex {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
  flex-direction: column;
}
.inline-flex { display: inline-flex; }
.flex-auto { flex: 0 0 auto; }
.flex-1-auto { flex: 1 1 auto; }
.flex0 { flex: 0; }
.flex1 {
	flex: 1;
	min-height: 0;
}
.flex1-0 { flex: 1 1 0; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.flex4 { flex: 4; }
.flex5 { flex: 5; }
.flexWrap--wrap { flex-wrap: wrap; }

/* use .flex-verticalCenter on the element you want to center */
.flex-verticalCenter::before,
.flex-verticalCenter::after {
	content: '';
	display: block;
	flex: 1;
}
.flex-pseudo-before::before {
	content: '';
	display: block;
	flex: 1;
}
.flex-pseudo-after::after {
	content: '';
	display: block;
	flex: 1;
}

.justifyContent--flexEnd { justify-content: flex-end; }
.justifyContent--flexStart { justify-content: flex-start; }
.justifyContent--center { justify-content: center; }
.justifyContent--spaceBetween { justify-content: space-between; }
.alignContent--center { align-content: center; }
.alignItems--center { align-items: center; }
.alignItems--flexEnd { align-items: flex-end; }
.alignItems--flexStart { align-items: flex-start; }
.alignSelf--center { align-self: center; }
.alignSelf--flexEnd { align-self: flex-end; }
.alignSelf--flexStart { align-self: flex-start; }

.u-flexMobileReflow,
.u-flexTabletReflow,
.u-flexDesktopReflow {
	display: flex;
	flex-direction: column;
}


@media screen and (min-width: 35.5em) {
	.u-flexMobileReflow {
		flex-direction: row;
	}
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
	.u-flexTabletReflow {
		flex-direction: row;
	}
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  	.u-flexDesktopReflow {
		flex-direction: row;
	}
}
