apiVersion: apps/v1
kind: Deployment
metadata:
  name: kotsadm
spec:
  template:
    metadata:
      labels:
        kots.io/kotsadm: 'true'
        kots.io/backup: velero
      annotations:
        backup.velero.io/backup-volumes: backup
        pre.hook.backup.velero.io/command: '["/bin/bash", "-c", "PGPASSWORD=password pg_dump -U kotsadm -h kotsadm-postgres > /backup/kotsadm-postgres.sql"]'
        pre.hook.backup.velero.io/timeout: 3m
    spec:
      containers:
        - name: kotsadm
          volumeMounts:
            - mountPath: /backup
              name: backup
            - name: kubelet-client-cert
              mountPath: /etc/kubernetes/pki/kubelet
            - name: kurl-proxy-kotsadm-tls-cert
              readOnly: true
              mountPath: /etc/kurl-proxy/ca
          env:
            - name: DEX_PGPASSWORD
              valueFrom:
                secretKeyRef:
                  key: PGPASSWORD
                  name: kotsadm-dex-postgres
            - name: KOTSADM_LOG_LEVEL
              value: "debug"
            - name: DISABLE_SPA_SERVING
              value: "1"
            - name: KOTSADM_TARGET_NAMESPACE
              value: "test"
              valueFrom: ~
            - name: AUTO_CREATE_CLUSTER
              value: "1"
            - name: AUTO_CREATE_CLUSTER_NAME
              value: "microk8s"
            - name: AUTO_CREATE_CLUSTER_TOKEN
              value: this-is-definitely-not-a-secret
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SHARED_PASSWORD_BCRYPT
              value: $2a$10$xZRsZCYgRDG90N1QEjBxGOBDrDGE.rpcMENV4qNNo7pozYTEPGMwS
            - name: SESSION_KEY
              value: this-is-not-too-secret
            - name: API_ENCRYPTION_KEY
              value: IvWItkB8+ezMisPjSMBknT1PdKjBx7Xc/txZqOP8Y2Oe7+Jy
            - name: REPLICATED_API_ENDPOINT
              value: http://replicated-app.default.svc.cluster.local:3000
            - name: API_ENDPOINT
              value: http://kotsadm.default.svc.cluster.local:3000
            - name: API_ADVERTISE_ENDPOINT
              value: http://127.0.0.1:30000
            - name: KOTSADM_ENV
              value: "dev"
            - name: ENABLE_WEB_PROXY
              value: "1"
            # - name: DISABLE_OUTBOUND_CONNECTIONS  
            #   value: "true"
            - name: KURL_PROXY_TLS_CERT_PATH
              value: /etc/kurl-proxy/ca/tls.crt
      volumes:
        - emptyDir:
            medium: Memory
            sizeLimit: 1Gi
          name: backup
        - name: kubelet-client-cert
          secret:
            secretName: kubelet-client-cert
            optional: true
        - name: kurl-proxy-kotsadm-tls-cert
          secret:
            secretName: kotsadm-tls
        - name: init-dex-db
          configMap:
            name: init-dex-db
      hostAliases:
        - ip: 172.17.0.1
          hostnames:
            - kotsadm.kotsadmdevenv.com
            - dex.kotsadmdevenv.com
