.Dashboard {
  max-width: 1000px;
  width: 100%;

  .Dashboard--appIcon {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.16);

    .PaperIcon {
      top: 5px;
      right: -12px;
    }
  }
}

.ResourceStateText {
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 2px;
  display: inline-block;

  &.missing {
    color: #F65C5C;
    background-color: #FFD1C7;
  }
  
  &.unavailable {
    color: #EC8F39;
    background-color: #FBE9D7;
  }
  
  &.degraded {
    color: #EBB55C;
    background-color: #FFFDF6;
  }
  
  &.ready {
    color: #44BB66;
    background-color: #ECF8F0;
  }
}