@use "../../variables.scss";

.Dashboard {
  max-width: 1160px;
  width: 100%;

  .Dashboard--appIcon {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    .PaperIcon {
      top: 5px;
      right: -12px;
    }
  }
}

.ResourceStateText {
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 2px;
  display: inline-block;
}

.version-row-preflight-status-icon {
  position: absolute;
  top: -11px;
  right: -5px;

  &.logs {
    top: -10px;
    right: 4px;
  }

  &.preflight-checks-warn-icon {
    top: -8px;
  }
}

.ConfigureGraphs--wrapper {
  max-width: 520px;
  p,
  h3 {
    color: variables.$text-color-body-copy;
  }
}
