@import "../../variables.scss";

.dashboard-card {
  background-color: $really-light-accent;
  border-radius: 4px;
  padding: 15px;
  border: 1px solid transparent;

  &.inverse-card {
    border-color: $light-accent;
    background-color: #ffffff;
  }

  &.graph {
    min-height: auto;
    max-height: none;
    height: auto;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}


.legends {
  &.legends::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  &.legends::-webkit-scrollbar:vertical {
      width: 11px;
  }
  &.legends::-webkit-scrollbar:horizontal {
      height: 11px;
  }
  &.legends::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
  }
}

.card-link {
  color: $link-color;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}


.community-dashboard-card {
  min-width: 260px;
  max-height: 200px;
  width: 260px;
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid  #F7B500;
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
}

.grayed-dashboard-card {
  min-width: 260px;
  max-height: 200px;
  width: 260px;
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
  background-color: #F8F8F8;
}

.LicenseCard-content--wrapper {
  padding: 8px;
  border-radius: 4px;
  background-color: #ffffff;
}

@media screen and (min-width: 642px) {
  
}

@media screen and (min-width: 960px) {
  
} 

@media screen and (min-width: 1040px) {
  
}
