@import "../../variables.scss";

.EmptyWrapper {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 18px 20px;
  background-color: $primary-light-color;
}

.DiffEditor {
  max-height: 550px;
}
