@import "../../variables.scss";

.EmptyWrapper {
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 18px 20px;
  background-color: lighten($primary-color, 43.5%);
}

.DiffEditor {
  max-height: 550px;
}
