.SelectNotificationModal--wrapper {
  .integration-type-wrapper {
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }

  .choose-integration-type {
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    transition: border .2s ease-in-out;

    &:hover {
      border-color: $border-color;
      cursor: pointer;
    }

    &.is-active,
    &.is-active:hover {
      background-color: lighten($primary-color, 43.5%);
      border-color: $primary-color;
    }
  }
}


.SetUpAutoPRsModal--wrapper {
  .Warning {
    padding: 12px;
    background: #FFF9F0;
    border-radius: 4px;
    border: solid 1px $border-color;
  }
}