.ConfigOuterWrapper {
  background: #F8F8F8; 
  width: 80%;
  max-width: 783px;
}

.ConfigInnerWrapper {
  border-width: 1px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,.16);
}

.UnsetRequiredFields--wrapper {
  width: 80%;
  max-width: 783px;
}

.link, a:visited {
  color: #326DE6;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}
