.WatchContributorsModal--wrapper .contributors-loading {
  position: absolute;
  z-index: 2;
  background-color: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
}
.BoxedCheckbox .user-photo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

.contributer-wrapper {
  max-height: 15.5em;
  overflow: auto;

  .BoxedCheckbox-wrapper {
    margin: 10px 0;
    margin-left: 0;
  }
}
