.ConfigOuterWrapper {
  background: #F8F8F8; 
  width: 80%;
  max-width: 783px;
}

.ConfigInnerWrapper {
  border-width: 1px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,.16);
}

.ConfigError--wrapper {
  width: 80%;
  max-width: 783px;
  flex: none;
}

.link, a:visited {
  color: #326DE6;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.ConfigInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px;
  padding: 13px 80px 10px;

  &.newer {
    background: #F5F8FC;
    color: #9B9B9B;
  }

  &.older {
    background: #FBE9D7;
    color: #EC8F39;
  }

  &.current {
    background: #E3F5E8;
    color: #44BB66
  }
}
