.init-pre-wrapper {
  max-width: 510px;
  width: 100%;
}
.init-unfork-wrapper {
  max-width: 825px;
  width: 100%;
  .Input {
    height: 40px;
  }
}
.get-started-wrapper {
  max-width: 730px;
  margin: 30px auto;

  .get-started-steps {
    margin: 30px auto;
    text-align: left;
  }

  .get-started-steps .step:first-child {
    padding-right: 25px;
  }
  .get-started-steps .step:last-child {
    padding-left: 25px;
}
  .get-started-steps .step .step-number {
      border-radius: 100%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #44BB66;
      background-color: #E3F5E8;
      margin-right: 12px;
      margin-top: -6px;
  }
  .get-started-steps .step code {
    font-weight: 600;
  }
}
.unfork-callout {
  max-width: 218px;
  min-width: 218px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 14px;
  margin-right: 20px;
}

.unforkLink {
  .arrow {
    top: 2px;
    left: 3px;
  }
  &:hover .arrow {
    left: 5px;
  }
}

.ClusterDashboard--wrapper .EmptyState {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-height: 600px) {
  .empty-message-wrapper {
    justify-content: center;
  }
}
