$cell-width: 140px;

.upstream-version-box-wrapper {
  background-color: #F5F8FC;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  max-width: 560px;

  .watch-icon {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  }

}

.watch-cell {
  width: $cell-width;
}

.ActiveDownstreamVersionRow--wrapper {
  padding: 12px;
  border-top: 1px solid #DFDFDF;
}

.gh-version-detail-text {
  position: relative;
  top: 1px;
}

.ActiveRelease-wrapper {
  .no-current-version {
    background-color: #F5F8FC;
    margin-top: 16px;
    border-radius: 4px;
    padding: 16px 12px;
  }
}

.ReactModal__Overlay .SkipModal .btn.secondary {
  background-color: #FFFFFF;
  margin-left: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #6D7278;
  color: #6D7278;
  box-shadow: none;
}

.release-notes-link {
  color: #337AB7;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.logs-modal {
  height: 70%;
  width: 100%;
  max-width: 900px;
  display: flex;
}

.monaco-editor-wrapper {
  margin-top: 12px;
  border-radius: 4px;
}

.action-tab-bar .tab-item {
  font-size: 12px;
  font-weight: 500;
  color: #9B9B9B;
  padding: 0 10px;
  border-right: 1px solid #DFDFDF;
  line-height: 15px;
  cursor: pointer;
  transition: color .2s;
  position: relative;

  &:hover {
    color: #717171;
  }

  &.is-active {
    color: #4A4A4A;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      display: block;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      background-color: #ffffff;
      border-top: 1px solid #DFDFDF;
      border-left: 1px solid #DFDFDF;
      left: 50%;
      margin-left: -4px;
    }
  }

  &.blue.is-active::after {
    background-color: #F5F8FC;
  }

  &:last-child {
    border-right: none
  }
}
