@import "../../variables.scss";

.ConfigArea--wrapper {
  transform: translateX(80px);
  width: 100%;
  max-width: 750px;
  min-width: 500px;
}

.AppConfigSidenav--wrapper {
  position: fixed;
  top: 140px;
  transform: translateX(-170px);
  background: #F8F8F8;
  max-width: 200px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  overflow: auto;

  .AppConfigSidenav--group a,
  .AppConfigSidenav--items a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $text-color-body-copy;
    cursor: pointer;
    font-weight: 400;

    &.active-item {
      font-weight: 500;
      color: $text-color-secondary;
    }

    &:hover {
      color: $text-color-secondary;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .AppConfigSidenav--group {
    a.group-title {
      margin-bottom: 0;
      color: $text-color-secondary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: $text-color-primary;
      }
    }
    .icon.u-darkDropdownArrow {
      margin-left: 6px;
      top: 6px;
      transition: transform .1s ease-in-out;
    }
    .AppConfigSidenav--items {
      display: none;
    }
    &.group-open {
      a.group-title {
        font-weight: 700;
      }
      .icon.u-darkDropdownArrow {
        transform: rotate(180deg);
      }
      .AppConfigSidenav--items {
        display: block;
      }
    }
  }

}

.AppConfigSidenav--items {
  padding-left: 15px;
}

.ConfigError--wrapper {
  width: 80%;
  max-width: 783px;
  flex: none;
}

.link, a:visited {
  color: $link-color;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}

.ConfigInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  border-radius: 4px;
  padding: 13px 40px 10px;

  &.newer {
    background: lighten($primary-color, 43.5%);
    color: $text-color-body-copy;
  }

  &.older {
    background: lighten($warning-color, 43.5%);
    color: $warning-color;
  }

  &.current {
    background: lighten($success-color, 43.5%);
    color: $success-color;
  }
}

/* ≥ 1024px */
@media screen and (min-width: 64em) {
  .AppConfigSidenav--wrapper {
    transform: translateX(-200px);
    max-width: 250px;
  }
  .ConfigArea--wrapper {
    transform: translateX(100px);
  }
}

/* ≥ 1280px */
@media screen and (min-width: 80em) {
  .AppConfigSidenav--wrapper {
    transform: translateX(-150px);
  }
  .ConfigArea--wrapper {
    transform: translateX(150px);
  }
}