@import "../../variables.scss";

.GitOpsSettings--wrapper {
  .full-width-container {
    max-width: 90%;
    width: 100%;
  }
}

.GitOpsSettings {
  max-width: 800px;
  width: 100%;
}

.appIcon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.16);
}

.GitopsSettings-noRepoAccess {
  padding: 10px;
  text-align: center;
  margin: 0 auto 30px;

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 12px;
  }

  .sub {
    font-size: 16px;
    font-weight: medium;
    color: #9B9B9B;
    line-height: 1.7;
  }
}


.disable-gitops-wrapper {
  padding-top: 30px;
  border-top: 1px solid $border-color;
  
}