@use "../../variables.scss";

.GitOpsSettings--wrapper {
  .full-width-container {
    max-width: 90%;
    width: 100%;
  }
}

.GitOpsSettings {
  max-width: 800px;
  width: 100%;
  background-color: variables.$really-light-accent;
  padding: 15px;
}

.appIcon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.16);
}

.GitopsSettings-noRepoAccess {
  .title {
    font-size: 20px;
    font-weight: bold;
    color: variables.$text-color-primary;
    margin-bottom: 12px;
  }

  .sub {
    font-size: 16px;
    font-weight: medium;
    color: variables.$text-color-body-copy;
    line-height: 1.7;
  }
}

.disable-gitops-wrapper {
  padding-top: 30px;
  border-top: 1px solid variables.$border-color;
}
.step-title {
  margin-bottom: 12px;
  line-height: 28px;
}

.step-sub {
  font-size: 14px;
  font-weight: 500;
  color: variables.$text-color-body-copy;
  margin-bottom: 25px;
  line-height: 24px;
  text-align: left;
}
