@use "../../variables.scss";

.GitOpsDeploymentManager--wrapper {
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
}

.ConfiguredGitOps--wrapper {
  max-width: 580px;
  margin: 0 auto;
  text-align: left;
}

.GitOpsDeploy--step {
  padding: 15px;
  text-align: center;
  position: relative;

  &:last-child::after {
    display: none;
  }

  .step-sub {
    font-size: 14px;
    font-weight: 500;
    color: variables.$text-color-body-copy;
    margin-bottom: 25px;
    line-height: 24px;
    text-align: left;
  }
}

.separator {
  width: 100%;
  height: 1px;
  background: variables.$border-color;
  margin-bottom: 25px;
}

.appIcon {
  width: 36px;
  height: 36px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.16);
}

.gitops-action-link {
  color: var(--link-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}
