.CodeSnippet {
  &.variant-blue {
    .CodeSnippet-content {
      padding: 15px;
      border: 1px solid #DFDFDF;
      border-radius: 4px;
      background-color: #F5F8FC;
    }
  }

  // Any new styling for the plain variant can go here
  // &.variant-plain {}
}

.CodeSnippet-copy {
  color: #326DE6;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    &.is-copied {
      text-decoration: none;
    }
  }
}
