.sidebar {
  padding: 10px;
  background-color: #F8F8F8;
  border-right: 1px solid #dfdfdf;
  position: fixed;
  left: 0;
  top: 51px;
  bottom: 41px;
  z-index: 2;

  &.expanded {
    width: 220px;
    box-shadow: 0 0 4px rgba(0,0,0,0.16);
  }
}

.sidebar-link {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f8f8;
  transition: background-color .2s ease;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #EDEDED;
  }
  
  .sidebar-link-icon {
    border: 2px solid transparent;
    height: 36px;
    width: 36px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    box-shadow: 0 0 3px rgba(0,0,0,0.16);
    background-color: #ffffff;

    &.add-app,
    &.console-settings {
      background-size: 14px 14px;
      box-shadow: none;
      background-color: transparent;
    }
  }

  &.selected .sidebar-link-icon {
    border-color: #326de6;
    background-color: #ffffff;
    box-shadow: none;
  }
}
