.ClusterNodes--wrapper {
  .BoxedCheckbox {
    height: 85px;
    width: 200px;
  }

  .timestamp {
    position: relative;
    margin-top: -10px;
    z-index: -1;
  }

  .node-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #577981;
    padding: 4px 6px;
    border-radius: 20px;
    background-color: #ffffff;
    white-space: nowrap;
    border: 1px solid #577981;
    margin-right: 8px;
    display: inline-block;
    margin-top: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}
