.AirgapUploadProgress--wrapper,
.PreflightProgress--wrapper {
  
  .progressbar {
    height: 8px;
    width:  600px;
    margin: 0 5px;
    box-shadow: inset 0 0 2px 1px rgba(0,0,0,0.10);
    border-radius: 8px;

    &.small {
      width: 355px;
      &.classic {
        width: 150px;
      }
    }

    &.medium {
      width: 380px;
    }
  }

  .progressbar-meter {
    transition: all 1s;
    height: 8px;
    border-radius: 8px;
    background-color: #326DE6;

    &.complete {
      background-color: #44BB66;
    }
  }
}
