.Login-wrapper {
  position: relative;
}
.LoginBox-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  border-radius: 4px;

  p.login-text {
    font-size: 32px;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    top: 5px;
  }

  .brand-login-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  }

  .login-form-wrapper {
    padding: 40px;
    max-width: 300px;

    &.secure-console {
      max-width: 500px;
    }
  }

  .traditional-auth-wrapper,
  .scm-form-wrapper {
    padding: 40px;
    background-color: #F8F8F8;
    box-shadow: inset 4px 0 4px -4px rgba(0,0,0,0.16);

    .success-wrapper {
      min-height: 298px;
    }

    .component-wrapper:first-child {
      margin-bottom: 15px;
    }
    .component-wrapper:last-child {
      margin-bottom: 0;
    }

    input[type=radio] + label {
      top: -2px;
    }
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .LoginBox-wrapper p.login-text {
    font-size: 36px;
    line-height: 46px;
  }

  .LoginBox-wrapper .scm-form-wrapper {
    .component-wrapper:first-child {
      margin-right: 20px;
      margin-bottom: 0;
    }
    .component-wrapper:last-child {
      margin-left: 20px;
    }
  }

}
