.Login-wrapper {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    background-position: left;
    z-index: -1;
    display: none;
  }

  &::before {
    left: 0;
    background-image: url("../../images/backgrounds/login-left@2x.png");
  }

  &::after {
    right: 0;
    background-image: url("../../images/backgrounds/login-right@2x.png");
  }
}
.LoginBox-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0,0,0,.16);
  border-radius: 4px;

  p.login-text {
    font-size: 32px;
    line-height: 22px;
    margin-left: 20px;
    position: relative;
    top: 5px;
  }

  .login-form-wrapper {
    padding: 40px;
    max-width: 300px;

    &.secure-console {
      max-width: 500px;
    }
  }

  .traditional-auth-wrapper,
  .scm-form-wrapper {
    padding: 40px;
    background-color: #F8F8F8;
    box-shadow: inset 4px 0 4px -4px rgba(0,0,0,0.16);

    .success-wrapper {
      min-height: 298px;
    }

    .component-wrapper:first-child {
      margin-bottom: 15px;
    }
    .component-wrapper:last-child {
      margin-bottom: 0;
    }

    input[type=radio] + label {
      top: -2px;
    }
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .Login-wrapper::before,
  .Login-wrapper::after {
    display: block;
  }
  .LoginBox-wrapper p.login-text {
    font-size: 36px;
    line-height: 46px;
  }

  .LoginBox-wrapper .scm-form-wrapper {
    .component-wrapper:first-child {
      margin-right: 20px;
      margin-bottom: 0;
    }
    .component-wrapper:last-child {
      margin-left: 20px;
    }
  }

}
