.PreflightChecks--wrapper {
  max-width: 1000px;
  min-height: 620px;
  margin: 0 auto;
}

.PreChecksBox-wrapper {
  max-width: 640px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0, .2);

  .watch-icon {
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.16);
    background-color: #ffffff;
  }
}

.preflight-button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #337AB7;
}

.preflight-check-row {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}
