@import "../variables.scss";

.RestoreSnapshotRow--wrapper {
  background: #FFFFFF;
  border: 1px solid $border-color;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;
  margin-top: 10px;

  &.backupSelected {
    background: lighten($primary-color, 43.5%);
    border: 1px solid $border-color;
    box-sizing: border-box;
  }
}

.BackupRestoreBox--wrapper {
  max-width: 550px;
}