#ship-init-component .spinningLoaderPath { fill: #44bb66; }
#ship-init-component .step-number.is-active .number { background-color: #44bb66 }
#ship-init-component .step-number.is-complete .number,
#ship-init-component .steps-numbers-wrapper .numbers-wrapper .completed-progress-bar { background-color: #187112; }

#ship-init-component table code { color: inherit; background: none; }
#ship-init-component .StepMessage-wrapper code,
#ship-init-component .StepMessage-wrapper pre,
#ship-init-component .markdown-wrapper pre code { background-color: #323232; color: #ffffff; }

#ship-init-component .dirtree-wrapper { background-color: #4a4a4a; }
#ship-init-component .FileTree-wrapper input[type=checkbox]:checked + label.is-file:after, #ship-init-component .FileTree-wrapper li.is-selected.is-file:after { background-color: #5f8268; }
#ship-init-component .add-new-resource .Input { background: #2e2e2e }
#ship-init-component .EmptyState--wrapper { border: 0 }
#ship-init-component .line { margin-left: 0; border: 0 }