.init-complete-wrapper {
  max-width: 750px;
  width: 100%;
}

.ship-complete-integration-card-wrapper {
  width: 100%;

  .ship-complete-integration-card {
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    padding: 12px 11px 0;
    background-color: #ffffff;
  }
  .ship-complete-integration-card .watch-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
  }
  .button-wrapper {
    padding: 4px 0;
    margin-top: 16px;
    border-top: 1px solid #DFDFDF;

    .card-action {
      padding: 8px 6px;
      border-radius: 4px;
      transition: background-color .3s;
  
      &:hover {
        background-color: #F5F8FC;
      }
    }
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .ship-complete-integration-card-wrapper {
    max-width: 345px;
    padding-right: 30px;
    &:nth-child(2n) {
      padding-right: 0;
    }
  }  
}

/* ≥ 960px */
@media screen and (min-width: 60em) {
  .ship-complete-integration-card-wrapper {
    max-width: 290px;
    &:nth-child(2n) {
      padding-right: 30px;
    }

    &:nth-child(3n) {
      padding-right: 0;
    }
  } 
}


/* ≥ 1280px */
@media screen and (min-width: 80em) {
  .ship-complete-integration-card-wrapper {
    &:nth-child(3n) {
      padding-right: 30px;
    }
    &:nth-child(4n) {
      padding-right: 0;
    }
  }
}
