<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Replicated App Manager" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TLS Warning | Admin Console</title>
    <link rel="stylesheet" href="/assets/output.css" />
    <link rel="stylesheet" href="/assets/tls-custom.css" />
    {{if .AppIcon }}
    <link rel="icon" type="image/png" href="{{ .AppIcon }}" />
    {{end}}
    <script>
      //defaults to chrome example
      var firefoxText =
        'On the next screen, click "I Understand the Risks", then click "Add Exception". Finally, click "Confirm Security Exception" to proceed to the Admin Console.';
      var ieText =
        'On the next screen, click "Continue to this website" to proceed to the Admin Console.';
      var safariText =
        'On the next screen, click "Continue" when prompted to proceed to the Admin Console.';
      var chromeText =
        'On the next screen, click "Advanced", then click "Proceed" to continue to the Admin Console.';

      var browserPlainText = "Chrome";
      var browserBodyText = chromeText;
      if (typeof InstallTrigger !== "undefined") {
        browserPlainText = "Firefox";
        browserBodyText = chromeText;
      } else if (
        Object.prototype.toString
          .call(window.HTMLElement)
          .indexOf("Constructor") > 0
      ) {
        browserPlainText = "Safari";
        browserBodyText = safariText;
      } else if (
        /*@cc_on!@*/ false ||
        !!document.documentMode ||
        !!window.StyleMedia
      ) {
        //grouping Edge + IE 6 - 11 in this one
        browserPlainText = "Internet Explorer";
        browserBodyText = ieText;
      }

      var rawLink = window.location.href
        .substring(window.location.protocol.length)
        .replace(/\/$/, "");
      var httpsLink = "https:" + rawLink;
      var opensslLink = rawLink.substring(2).replace("/insecure", "");
      console.log(opensslLink, "hello");
      var tlsManagementLink = "/tls";
      console.log(tlsManagementLink, "link");
    </script>
  </head>
  <body>
    <div class="flex !flex-col flex-1">
      <div class="NavBarWrapper">
        <div class="flex flex-auto h-[50px]">
          <div class="flex items-center flex-1 relative">
            <div class="HeaderLogo">
              {{if .AppIcon }}<span
                class="appIcon flex"
                style="background-image: url('{{ .AppIcon }}')"
              ></span
              >{{end}}
            </div>
          </div>
        </div>
      </div>

      <div class="min-h-full w-full flex flex-1">
        {{if .IsEmbeddedCluster}}
        <div class="bg-[#F9FBFC] min-400">
          <div class="py-8 pl-8 shadow-[0_1px_0_#c4c8ca]">
            <span class="text-lg font-semibold text-gray-[#323232]">
              Let's get you started!
            </span>
          </div>
          <div
            class="p-8 shadow-[0_1px_0_#c4c8ca] font-medium flex text-[#323232]"
          >
            <img src="/assets/images/check.svg" alt="check" />
            <span class="font-bold ml-2"> Secure the Admin Console </span>
          </div>
          <div
            class="p-8 shadow-[0_1px_0_#c4c8ca] font-medium flex text-[#9c9c9c9c]"
          >
            <img src="/assets/images/check.svg" alt="check" />
            <span class="font-normal ml-2">
              Configure the cluster (optional)
            </span>
          </div>
          <div
            class="p-8 shadow-[0_1px_0_#c4c8ca] font-medium flex text-[#9c9c9c9c]"
          >
            <img src="/assets/images/check.svg" alt="check" />
            <span class="font-normal ml-2"> Configure {{.AppTitle}} </span>
          </div>
          <div
            class="p-8 shadow-[0_1px_0_#c4c8ca] font-medium flex text-[#9c9c9c9c]"
          >
            <img src="/assets/images/check.svg" alt="check" />
            <span class="font-normal ml-2">
              Validate the environment & Install {{.AppTitle}}
            </span>
          </div>
        </div>
        {{end}}
        <div class="tlsContent--wrapper px-8">
          <p class="tls-header my-8">Secure the Admin Console</p>
          <hr />
          <div class="mt-8 p-8 bg-[#F9FBFC]">
            <div>
              <p class="tls-header mb-2">Bypass browser TLS warning</p>
              <p class="tls-header-sub">
                We use a self-signed SSL/TLS Certificate to secure the
                communication between your local machine and the Admin Console
                during setup. You'll see a warning about this in your browser,
                but you can be confident that this is secure.
              </p>
            </div>
            <div class="flex1 flex">
              <div class="flex-column flex1 left-block">
                <div>
                  <p class="tls-section-sub">
                    <script>
                      document.write(browserBodyText);
                    </script>
                  </p>
                </div>

                <div
                  class="flex-column flex1 right-block alignItems--center justifyContent--center"
                >
                  <script>
                    document.write(
                      '<img class="insecure-image m-auto" src="/assets/images/' +
                        browserPlainText.toLowerCase().replace(" ", "") +
                        '-insecure.png" />',
                    );
                  </script>
                </div>
                <div class="flex-column justifyContent--center">
                  <p class="text-muted" id="click-here-text">
                    <a class="replicated-link">Click here</a> to verify the
                    certificate's authenticity (optional)
                  </p>
                </div>
                <div
                  id="verification-container"
                  style="display: none"
                  class="mt-8"
                >
                  <p class="tls-header mb-4">
                    Verify the certificate’s authenticity (optional)
                    <a class="replicated-link">hide</a>
                  </p>
                  <div class="flex flex-col gap-4">
                    <div class="CodeSnippet">
                      <div class="CodeSnippet-content">
                        <p>Where to run this script....</p>
                        <pre>
                        <code id="verify-snippet">
                        </code>
                      </pre>
                      </div>
                    </div>
                    <div class="CodeSnippet">
                      <div class="CodeSnippet-content">
                        <p>Expected SHA Fingerprint</p>
                        <pre>
                        <code>{{ .fingerprintSHA1 }}</code>
                      </pre>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="button-wrapper flex alignItems--center">
                  <button
                    type="submit"
                    class="btn primary"
                    onclick="location.href=tlsManagementLink;"
                  >
                    Continue to Setup
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    document.getElementById("verify-snippet").innerHTML =
      "$ echo | openssl s_client -servername local -connect " +
      opensslLink +
      " 2>/dev/null | openssl x509 -noout -fingerprint";
  </script>
  <script>
    const replicatedLink = document.querySelectorAll(".replicated-link");

    const clickHereLink = document.getElementById("click-here-text");
    const verificationContainer = document.getElementById(
      "verification-container",
    );

    replicatedLink.forEach((link) => {
      link.addEventListener("click", () => {
        if (verificationContainer.style.display === "block") {
          clickHereLink.style.display = "block";
          verificationContainer.style.display = "none";
        } else {
          clickHereLink.style.display = "none";
          verificationContainer.style.display = "block";
        }
      });
    });
  </script>
</html>
