<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Form to upload TLS certificate and key">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Configure TLS | Admin Console</title>
  <link rel="stylesheet" href="/tls/assets/tls-custom.css" />
  {{if .AppIcon }}
    <link rel="icon" type="image/png" href="{{ .AppIcon }}" />
  {{end}}
  <script src="/tls/assets/tls.js"></script>
</head>

<body>
  <div class="u-minHeight--full u-width--full flex-column flex1">
    <div class="flex-1-auto flex u-width--full justifyContent--center alignItems--center">
      <div class="flex flex-column justifyContent--center alignItems--center">
        <div class="borderWrapper flex-column flex">
          <div class="flex u-marginBottom--8">
            {{if .AppIcon }}<span class="appIcon flex flex-auto" style="background-image: url('{{ .AppIcon }}')"></span>{{end}}
            <div class="flex-column flex1 justifyContent--center">
              <p class="tls-header">HTTPS for the {{ .AppTitle }} admin console</p>
            </div>
          </div>
          <form id="upload-form" class="flex-column" action="" method="post" enctype="multipart/form-data">

            <div>
              <p class="tls-section-header2">Certificate type</p>
              <input type="radio" name="type" id="self-signed" value="self-signed" checked autocomplete="off">
              <label for="self-signed">Self-signed</label>
              <input type="radio" name="type" id="custom-cert" value="custom-cert" autocomplete="off">
              <label for="custom-cert">Upload your own</label>
            </div>
            <p class="tls-header-sub self-signed-visible">
              A self-signed TLS certificate is currently used to secure communication
              between your browser and the admin console. You will see a warning in your browser
              every time you access the admin console unless you upload your own TLS certificate.
            </p>
            <p class="tls-header-sub custom-cert-visible hidden">
              A trusted certificate that you upload will be used to secure communication between
              your browser and the admin console.
            </p>
            <div>
              <p class="tls-section-header2">
                Hostname
                <span class="self-signed-visible">(optional)</span>
              </p>
              <p id="hostname-hint" class="hostname-hint"></p>
              <p class="tls-section-sub-sub">Ensure this domain is routable on your network.</p>
              <input id="hostname" class="form-input larger" type="text" name="hostname"
                placeholder="app.yourdomain.com" style="width: 250px; margin-bottom: 20px;" />
            </div>
            <div class="custom-cert-visible hidden">
              <p class="tls-section-header">Private key and certificate</p>
              <p class="tls-section-sub">Files will be stored in the cluster.
              </p>
            </div>
            <div class="flex upload-form hidden custom-cert-visible" id="upload-files">
              <div class="u-position--relative flex-column flex-auto upload">
                <div>
                  <label class="tls-section-header2">Upload private key</label>
                  <input type="file" name="key" id="key" class="inputkey" />
                  <label for="key" class="btn secondary u-marginTop--8">Choose private key</label>
                  <p id="key-label" class="tls-header-sub">No file chosen.</p>
                </div>
              </div>
              <div class="u-position--relative flex-column flex-auto u-marginRight--15 upload">
                <div>
                  <label class="tls-section-header2">Upload SSL certificate</label>
                  <input type="file" name="cert" id="cert" class="inputcert" />
                  <label for="cert" class="btn secondary u-marginTop--8">Choose SSL certificate</label>
                  <p id="cert-label" class="tls-header-sub">No file chosen.</p>
                </div>
              </div>
            </div>

            <div id="error" style="display: none">
              <div class="notification is-warning">
                <p id="tls-error-msg"></p>
              </div>
            </div>

            <div class="button-wrapper flex alignItems--center">
              <button class="btn primary" type="submit">
                <span class="self-signed-visible">Continue</span>
                <span class="custom-cert-visible hidden">Upload &amp; continue</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
