@import "../../variables.scss";

.CommunityLicense--wrapper {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
  border: 1px solid #fcd977;
  background-color: #fff9e8;
  border-radius: 4px;
  padding: 20px 15px;
}

.License--wrapper {
  background: $sub-nav-color;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  max-width: 960px;
  margin-top: 30px;
}

.FileUpload-wrapper {
  cursor: default;
  border-radius: 4px;
  border: 1px dashed $border-color;
  padding: 20px 15px 18px;
  margin-bottom: 20px;

  &.has-file {
    border: none;
    padding: 20px 0 18px;

    &.has-error {
      border: 1px solid var(--error-color);
      background-color: var(--error-color-light);
      color: var(--error-color);
    }
  }
}

.CommunityEditionTag {
  background: var(--warning-color);
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #ffffff;
}

.LicenseDetails {
  background: #ffffff;
  border-radius: 4px;
  padding: 12px;
  margin-top: 12px;
}

.channelTag {
  background-color: #f5f8fc;
  font-size: 12px;
  line-height: 12px;
  color: #73a3cd;
  justify-content: center;
  border-radius: 3px;
  padding: 2px 4px 2px 4px;
}

.LicenseTypeTag {
  display: flex;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 4px;
}

.dev {
  background-color: #e4e4e4;
  color: #4a4a4a;
}

.trial {
  background-color: #def0fa;
  color: #239de0;
}

.prod {
  background-color: #e3f5e8;
  color: #44bb66;
}

.community {
  background-color: #fef4d9;
  color: #f7b500;
}

.entitlementItems {
  line-height: 1.7;
  font-weight: 500;
  font-size: 12px;
  color: $text-color-secondary;

  & > span {
    margin-top: 12px;
    margin-right: 20px;
  }

  & > span:last-child {
    margin-right: 0;
  }
}
