@import "../../variables.scss";

.KurlClusterManagement--wrapper {
  .BoxedCheckbox {
    height: 85px;
    width: 200px;
  }

  .timestamp {
    position: relative;
    margin-top: -10px;
    z-index: -1;
  }

  .node-label {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #577981;
    padding: 4px 6px;
    border-radius: 20px;
    background-color: #ffffff;
    white-space: nowrap;
    border: 1px solid #577981;
    margin-right: 8px;
    display: inline-block;
    margin-top: 8px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.KurlNodeRow--wrapper {
  padding: 12px;
  border-top: 1px solid #dfdfdf;

  &.is-expired {
    background-color: $sub-nav-color;
  }

  &.is-deleting {
    background-color: $sub-nav-color;
  }

  .nodeTag {
    background-color: $primary-light-color;
    font-size: 12px;
    line-height: 12px;
    color: #73a3cd;
    justify-content: center;
    border-radius: 3px;
    padding: 2px 4px 2px 4px;
  }
}

.KurlNodeRow--items p {
  max-width: 180px;

  .icon {
    vertical-align: -3px;
    margin-right: 4px;
  }

  .node-status {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 4px;
    display: inline-block;
    vertical-align: 1px;
    background-color: #44bb66;

    &.disconnected {
      background-color: #bc4752;
    }
  }
}
