.CommunityLicense--wrapper {
  min-width: 557px;
  max-height: 94px;
  width: 557px;
  height: 94px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid #F7B500;
  background-color: #FFF9E8;
  border-radius: 4px;
  padding: 20px 15px;
}