.dashboard-card {
  min-width: 260px;
  max-height: 200px;
  width: 260px;
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
  margin-bottom: 30px;

  &.graph {
    min-width: 455px;
    min-height: auto;
    max-width: 455px;
    max-height: none;
    height: auto;

    &:nth-child(2n) {
      margin-right: 0;
      min-width: 463px;
      max-width: 463px;
    }
  }

  &.emptyGraph {
    min-height: 255px;
    max-height: 255px;
    height: 255px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &.absolute-button {
    position: absolute;
    left: 50%;
    margin-left: -73px;
    top: 100px;
    padding: 5px;
    min-width: 146px;
    min-height: 60px;
    max-width: 146px;
    max-height: 60px;
    height: 60px;
    background-color: #ffffff;
  }
}


.legends {

  &.legends::-webkit-scrollbar {
      -webkit-appearance: none;
  }
  &.legends::-webkit-scrollbar:vertical {
      width: 11px;
  }
  &.legends::-webkit-scrollbar:horizontal {
      height: 11px;
  }
  &.legends::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .5);
  }
}


.dashboard-app-icon {
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
  margin-right: 15px;
  border-radius: 40px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.card-link {
  color: #326DE6;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }
}


.community-dashboard-card {
  min-width: 260px;
  max-height: 200px;
  width: 260px;
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid  #F7B500;
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
}

.grayed-dashboard-card {
  min-width: 260px;
  max-height: 200px;
  width: 260px;
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 12px 12px 0px 12px;
  background-color: #F8F8F8;
}

.small-dashboard-wrapper {
  min-width: 260px;
  max-height: 214px;
  width: 260px;
  height: 214px;
  margin-right: 30px;
}

.small-dashboard-card {
  min-width: 260px;
  max-height: 85px;
  width: 260px;
  height: 85px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow .2s;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 12px 12px 0px 12px;

  &:first-child {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 642px) {
  .dashboard-card {
    margin-right: 30px;
    &:nth-child(2n),
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 960px) {
  .dashboard-card {
    margin-bottom: 0;
    &:nth-child(2n) {
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 1040px) {
  &.emptyGraph {
    min-width: 455px;
    min-height: 255px;
    max-width: 455px;
    max-height: 255px;
    height: 255px;

    &:nth-child(2n) {
      margin-right: 0;
      min-width: 463px;
      max-width: 463px;
    }
  }
}
