
.diff-header-wrapper,
.version-card-header {
	.spacer-div {
		width: 20px;
	}

	.icon-wrapper {
		height: 25px;
	}

	.checkmark-icon::after {
		content: "";
		height: 15px;
		border-left: 2px solid #DFDFDF;;
		position: relative;
		bottom: -28px;
		left: 6px;
	}

	.avatar-wrapper {
		width: 35px;
		height: 35px;

		span {
			border-radius: 100%;
			background-size: contain;
			background-position: center;
			display: block;
			width: 100%;
			height: 100%;
			-webkit-box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.16);
			-moz-box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.16);
			box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.16);
		}
	}
}

.diff-wrapper {
	padding: 10px 0 12px 12px;
}
