.SelectNotificationModal--wrapper {
  .integration-type-wrapper {
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }

  .choose-integration-type {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 12px;
    text-align: center;
    transition: border .2s ease-in-out;

    &:hover {
      border-color: #9B9B9B;
      cursor: pointer;
    }

    &.is-active,
    &.is-active:hover {
      background-color: #F5F8FC;
      border-color: #326de6;
    }
  }
}


.SetUpAutoPRsModal--wrapper {
  .Warning {
    padding: 12px;
    background: #FFF9F0;
    border-radius: 4px;
    border: solid 1px #DFDFDF;
  }
}