@import "../variables.scss";

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
  color: $text-color-body-copy;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}

body a {
  text-decoration: none;
  outline: none;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.replicated-link {
  color: $link-color;
  cursor: pointer;
  font-weight: 500;

  &.has-arrow {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 12px;
      height: 7px;
      background-image: url("../images/main_spritesheet.svg");
      background-repeat: no-repeat;
      background-size: initial;
      background-position: -275px -85px;
      top: 4px;
      right: -15px;
      transform: rotate(90deg);
      transition: ease-in-out .2s;
    }
  }

  &:hover {
    text-decoration: underline;

    &.has-arrow::after {
      right: -18px;
    }
  }
}

.DiffSummary {
  font-size: 12px;

  .files {
    color: #9B9B9B;
  }

  .lines-added {
    color: #44bb66;
  }

  .lines-removed {
    color: #BC4752;
  }
}

.Loader {
  path {
    fill: $primary-color
  }
  &.warning path {
    fill: $warning-color;
  }
  &.error path {
    fill: $error-color;
  }
}

.snapshotOptions {
  display: flex;
  margin-top: 10px;
  border: 1px solid #4A4A4A;
  border-radius: 3px;
  padding: 8px 10px;
  cursor: pointer;
  margin-right: 10px;
  color: #000000 !important;
  align-items: center;
  width: 170px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  &:hover {
    background-color: lighten($primary-color, 43.5%);
  }
}

.status-dot {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-right: 6px;
  display: inline-block;
  position: relative;
}

.status-tag {
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  white-space: nowrap;

  &.success {
    background-color: $success-color;
    color: #ffffff;
  }
  &.failed {
    background-color: $error-color;
    color: #ffffff;
  }
  &.skipped {
    background-color: $light-accent;
    color: $text-color-header;
  }
  &.unknown {
    background-color: $muted-light-accent;
    color: #ffffff;
  }
}

.status-indicator {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #AFAFAF;
  position: relative;
  padding-left: 12px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 4px;
    top: 4px;
    left: 0;
  }

  &.completed::before {
    background-color: #44bb66;
  }
  &.failed::before {
    background-color: #BC4752;
  }
  &.inprogress::before {
    background-color: #326DE6;
  }
  &.reclaimed::before {
    background-color: #4999AD;
  }
  &.partiallyfailed::before {
    background-color: #F1843C;
  }
  &.deleting::before {
    background-color: #F7B500;
  }
  &.enabled::before {
    background-color: #44bb66;
  }
  &.disabled::before {
    background-color: #C4C7CA;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #326DE6;
  font-family: "Monaco", "Helvetica Neue", "Helvetica", sans-serif;
  background-color: #E3F5E8;
  border-radius: 4px;
}

.inline-code {
  font-size: 10px;
  font-family: "Monaco", "Helvetica Neue", "Helvetica", sans-serif;
  border-radius: 2px;
  background-color: #E5EAEC;
  color: #073551;
  padding: 1px 3px;

  &.no-bg {
    background-color: transparent;
    padding: 0;
  }
}

.container {
  padding: 0 20px;
  padding-top: 20px;
}

.centered-container {
  max-width: 964px;
  margin: 0 auto;
  width: 100%;
}

.HiddenText-wrapper {
  top: -1000px;
  left: -1000px;
  z-index: -1;
  opacity: 0;
}

.init-pre-wrapper {
  max-width: 510px;
  width: 100%;
}
.init-unfork-wrapper {
  max-width: 825px;
  width: 100%;
  .Input {
    height: 40px;
    
    .is-disabled {
      user-select: none;
      cursor: not-allowed;
      background-color: #f8f8f8;
      border-color: #DFDFDF;
      color: #717171;
    }
  }
}
.unfork-callout {
  max-width: 218px;
  min-width: 218px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 14px;
  margin-right: 20px;
}

.unforkLink {
  .arrow {
    top: 2px;
    left: 3px;
  }
  &:hover .arrow {
    left: 5px;
  }
}

.PreflightMessageRow {
  h2 {
    font-size: 16px;
    font-weight: 700;
  }
  p {
    font-size: 14px; 
    font-weight: 500;
    color: #9B9B9B
  }
  ul {
    display: block;
  }
}

.arrow_box {
  padding: 10px;
}

.error-block-wrapper {
  background-color: lighten($error-color, 43.5%);
  border-radius: 4px;
  padding: 15px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}

.errors {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 3px 6px 6px 5px;
  background: $error-color;
}
.warnings {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  padding: 3px 6px 6px 5px;
  background: $warning-color;
}

.circleNumberGray { 
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  border-radius: 50%;
  width: 7px;
  height: 11px;
  padding: 3px 6px 4px 6px;
  background: #9B9B9B;
}

.__react_component_tooltip {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  max-width: 300px;
  text-align: center;
}

/*
Apply this class to any icon using main_spritesheet. From there
all you need to do is supply a `width: [value]` `height: [value]`
and `background-position: [value]`
*/
.icon {
  background-image: url("../images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  cursor: default;
  position: relative;
}
.icon.clickable {
  cursor: pointer;
}

.required-label {
  background-color: lighten($warning-color, 43.5%);
  border-radius: 2px;
  color: $warning-color;
  font-size: 10px;
  line-height: 10px;  
  font-weight: 500;
  padding: 2px 4px 3px 4px;
  margin-left: 8px;
}

.edit-files-banner {
  background-color: lighten($primary-color, 43.5%);
  color: lighten($primary-color, 15%);
  border-bottom: 1px solid lighten($primary-color, 15%);
  padding: 13px 20px 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;

  &.gitops-enabled-banner {
    background-color: #E9E5EF;
    border-bottom-color: #CAC1D8;
    padding: 10px 20px 9px;
  }
}

/* Media Queries */

/* ≥ 568px */
@media screen and (min-width: 35.5em) {

}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .container {
    padding: 0 30px;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {

}

/* ≥ 1024px */
@media screen and (min-width: 64em) {

}

/* ≥ 1280px */
@media screen and (min-width: 80em) {

}

.hidden {
  display: none;
}

.paddingContainer {
  padding: 0 20px;
}
