@import "../variables.scss";

.button-wrapper {
  margin-top: 20px;
  .btn {
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.btn {
  cursor: pointer;
  padding: 7px 12px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  display: inline-block;
  border: 0;
  border-radius: 3px;
  transition: background-color color border .2s;
  outline: none;
  position: relative;

  &.small {
    padding: 4px 12px 5px;
  }

  &.large {
    padding: 11px 12px 12px;
    font-size: 14px;
  }

  &.rounded {
    border-radius: 60px;
  }

  &.auth {
    padding: 12px 20px 11px;
    border-radius: 40px;
    border-width: 2px;
    border-style: solid;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    background-color: #ffffff;

    .icon {
      vertical-align: -7px;
      margin-right: 6px;
      pointer-events: none;
    }
  }

  &.primary {
    background-color: $primary-color;
    padding: 8px 14px 9px;
    color: #ffffff;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);

    &:not(:disabled):hover {
      background-color: darken($primary-color, 8%);
    }
  }

  &.primary.is-disabled,
  &.primary.is-disabled:hover,
  &.primary:disabled,
  &.primary[disabled] {
    cursor: not-allowed;
    border-color: lighten($primary-color, 25%);
    color: #ffffff;
    background-color: lighten($primary-color, 25%);
  }

  &.primary.red {
    background-color: $error-color;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: #ffffff;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);

    &:not(:disabled):hover {
      background: darken($error-color, 8%);
    }
  }

  &.primary.red.is-disabled,
  &.primary.red.is-disabled:hover,
  &.primary.red:disabled,
  &.primary.red[disabled] {
    cursor: not-allowed;
    border-color: lighten($error-color, 25%);
    color: #ffffff;
    background-color: lighten($error-color, 25%);
  }

  &.secondary {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-color;
    color: $secondary-color;
    box-shadow: none;
    padding: 8px 12px 7px;

    &:not(:disabled):hover {
      background-color: lighten($secondary-color, 43.5%);
      border-color: darken($secondary-color, 8%);
      color: darken($secondary-color, 8%);
    }
  }

  &.secondary.red {
    background-color: #ffffff;
    border: 1px solid $error-color;
    box-shadow: none;
    color: $error-color;

    &:not(:disabled):hover {
      border-color: darken($error-color, 8%);
      color: darken($error-color, 8%);
    }
  }

  &.secondary.blue {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: $primary-color;
    color: $primary-color;
    box-shadow: none;

    &:not(:disabled):hover {
      background-color: lighten($primary-color, 43.5%);
      border-color: $primary-color;
      color: $primary-color;
    }
  }

  &.secondary.dark {
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: darken($primary-color, 30%);
    color: darken($primary-color, 30%);
    box-shadow: none;

    &:not(:disabled):hover {
      background-color: lighten($primary-color, 43.5%);
      border-color: darken($primary-color, 42%);
      color: darken($primary-color, 42%);
    }
  }

  &.secondary.smallPadding {
    padding: 3px 12px 3px;
  }


  &.secondary.is-disabled,
  &.secondary.is-disabled:hover,
  &.secondary:disabled,
  &.secondary[disabled] {
    cursor: not-allowed;
    color: lighten($secondary-color, 25%);
    border-color: lighten($secondary-color, 25%);
  }

  &.github {
    border-color: #24292E;
    color: #24292E;

    &:not(:disabled):hover {
      background-color: #F4F4F4;
    }
  }

  &.gitlab {
    border-color: #E24329;
    color: #E24329;

    &:not(:disabled):hover {
      background-color: #FDF5F4;
    }
  }

  &.bitbucket {
    border-color: #2684FF;
    color: #2684FF;

    &:not(:disabled):hover {
      background-color: #F5FAFF;
    }
  }

  &.traditional {
    border-color: #326DE6;
    color: #326DE6;

    &:not(:disabled):hover {
      background-color: lighten($primary-color, 43.5%);
    }
  }

}
