@import "../variables.scss";

.u-color--primary {
  background-color: $primary-color;
}
.u-color--secondary {
  background-color: $sub-nav-color;
}
.u-color--accent {
  background-color: $accent-color;
}
.u-color--error {
  background-color: $error-color;
}
.u-color--success {
  background-color: $success-color;
}
.u-color--warning {
  background-color: $warning-color;
}
.u-color--bodyCopy {
  background-color: $text-color-body-copy;
}
.u-color--taupe {
  background-color: $light-taupe;
}


.u-textColor--primary {
  color: $text-color-primary;
}
.u-textColor--secondary {
  color: $text-color-secondary;
}
.u-textColor--header {
  color: $text-color-header
}
.u-textColor--bodyCopy {
  color: $text-color-body-copy;
}
.u-textColor--info {
  color: $text-color-info;
}
.u-textColor--accent {
  color: $text-color-accent
}
.u-textColor--error {
  color: $error-color;
}
.u-textColor--success {
  color: $success-color;
}
.u-textColor--warning {
  color: $warning-color;
}
.u-linkColor {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

.u-color--white { color: #FFFFFF; }
.u-color--mutedteal { color: #577981; }
