.u-color--chestnut { color: #BC4752; }
.u-color--tuna { color: #323232; }
.u-color--astral { color: #337AB7; }
.u-color--tundora { color: #4A4A4A; }
.u-color--doveGray { color: #717171; }
.u-color--dustyGray { color: #9B9B9B; }
.u-color--chateauGreen { color: #44BB66; }
.u-color--white { color: #FFFFFF; }
.u-color--red { color: #A31515; }
.u-color--orange { color: #DB9016; }
