@import "../components/forms/input.scss";
@import "../components/forms/textarea.scss";
@import "../components/forms/select.scss";

.Form-label {
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  margin-bottom: 12px;
}
.Form-label-subtext {
  font-size: 12px;
  line-height: 18px;
  color: #9B9B9B;
  font-weight: 400;
}

.BoxedCheckbox {
  border: 1px solid #C4C7CA;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;

  .input-wrapper {
    padding-left: 12px;
  }
  input {
    margin: 0;
  }
  label {
    padding: 12px 12px 12px 10px;
  }
  
  &.is-active {
    border-color: #73A3CD;
    background-color: #F5F8FC;
  }

  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;

    > * {
      cursor: not-allowed;
    }
  }
}

.replicated-select-container {

  .replicated-select__placeholder,
  .replicated-select__single-value {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  .replicated-select__single-value {
    color: #4A4A4A;
  }

  .replicated-select__dropdown-indicator {
    transition: all .2s;
  }

  .replicated-select__control {
    border-color: #DFDFDF;
    cursor: pointer;
    &.replicated-select__control--is-focused {
      border-color: #4990E2;
      box-shadow: none;

      .replicated-select__dropdown-indicator {
        transform: rotate(180deg);
      }
    }
  }

  .replicated-select__menu {
    border-color: #DFDFDF;
    font-size: 12px;
    font-weight: 500;
    color: #4A4A4A;
    line-height: 15px;
  }
  .replicated-select__option {
    cursor: pointer;

    &.replicated-select__option--is-focused {
      background-color: #F5F8FC;
      color: #4A4A4A;
    }
  }
}





// <div class="css-15k3avv replicated-select__menu"><div class="css-11unzgr replicated-select__menu-list"><div class="css-v73v8k replicated-select__option" id="react-select-2-option-0" role="option" tabindex="-1">GitHub Enterprise</div><div class="css-v73v8k replicated-select__option" id="react-select-2-option-1" role="option" tabindex="-1">GitLab Hosted</div><div class="css-v73v8k replicated-select__option" id="react-select-2-option-2" role="option" tabindex="-1">GitLab On-prem</div><div class="css-wqgs6e replicated-select__option replicated-select__option--is-focused" id="react-select-2-option-3" role="option" tabindex="-1">Bitbucket Hosted</div><div class="css-v73v8k replicated-select__option" id="react-select-2-option-4" role="option" tabindex="-1">Bitbucket On-prem</div><div class="css-v73v8k replicated-select__option" id="react-select-2-option-5" role="option" tabindex="-1">Other</div></div></div>