@import "../components/forms/input.scss";
@import "../components/forms/textarea.scss";
@import "../components/forms/select.scss";

.Form-label {
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  margin-bottom: 12px;
}
.Form-label-subtext {
  font-size: 12px;
  line-height: 18px;
  color: #9B9B9B;
  font-weight: 400;
}

.BoxedCheckbox {
  border: 1px solid #C4C7CA;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
  transition: border 0.2s;

  .input-wrapper {
    padding-left: 12px;
  }
  input {
    margin: 0;
  }
  label {
    padding: 12px 12px 12px 10px;
  }
  
  &.is-active {
    border-color: #326DE6;
    background-color: #F5F8FC;
    &:hover {
      border-color: #326DE6;
    }
  }

  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
    &:hover {
      border-color: #C4C7CA;
    }
    > * {
      cursor: default;
    }
  }

  &:hover {
    border-color: #9B9B9B;
  }
}

.gitops-checkboxes .BoxedCheckbox {
  min-height: 60px;
}

.replicated-select-container {

  .replicated-select__placeholder,
  .replicated-select__single-value {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  .replicated-select__single-value {
    color: #4A4A4A;
  }

  .replicated-select__dropdown-indicator {
    transition: all .2s;
  }

  .replicated-select__control {
    border-color: #DFDFDF;
    cursor: pointer;
    &.replicated-select__control--is-focused {
      border-color: #4990E2;
      box-shadow: none;

      .replicated-select__dropdown-indicator {
        transform: rotate(180deg);
      }
    }
  }

  .replicated-select__menu {
    border-color: #DFDFDF;
    font-size: 12px;
    font-weight: 500;
    color: #4A4A4A;
    line-height: 15px;
  }
  .replicated-select__option {
    cursor: pointer;
    padding: 12px;

    &.replicated-select__option--is-focused {
      background-color: #F5F8FC;
      color: #4A4A4A;
    }
  }

  &.app {
    width: 300px;
  }

  &.app-100 {
    width: 100%;
  }

  &.snapshot {
    width: 200px;
    .css-1eyizxz-control {
      border: 0;
      cursor: pointer;
      outline: none;
      position: relative;
      background-color: #326DE6;
      color: #ffffff;
  
      &:not(:disabled):hover {
        background-color: #265BC7;
      }
    }
    .css-f8ooy8-control {
      cursor: pointer;
      outline: none;
      position: relative;
      background-color: #326DE6;
      color: #ffffff;
  
      &:not(:disabled):hover {
        background-color: #265BC7;
      }
    }
    .css-dvua67-singleValue {
      top: 40%
    }
    .css-bgvzuu-indicatorSeparator {
      margin-bottom: 2px;
      margin-top: 4px;
      height: 20px;
    }
    .css-1wy0on6 {
      background-color: #326DE6;
      color: #ffffff;
      border-radius: 4px;
  
      &:not(:disabled):hover {
        background-color: #265BC7;
      }
    }
    .css-16pqwjk-indicatorContainer {
      padding: 0 6px 0 6px;
    }
    .css-1thkkgx-indicatorContainer {
      padding: 0 6px 0 6px;
    }
  }
}