/* Icon classes */

.icon.ship-login-icon {
  background-position: 0 -32px;
  width: 56px;
  height: 60px;
}
.icon.github-button-icon {
  background-position: 0 -94px;
  width: 30px;
  height: 29px;
}
.icon.gitlab-button-icon {
  background-position: -32px -94px;
  width: 31px;
  height: 29px;
}
.icon.bitbucket-button-icon {
  background-position: -65px -94px;
  width: 33px;
  height: 29px;
}
.icon.traditional-button-icon {
  background-position: -100px -94px;
  width: 27px;
  height: 29px;
}
.icon.integration-icon-email {
  background-position: 0 -125px;
  width: 52px;
  height: 36px;
}
.icon.integration-icon-webhook {
  background-position: -54px -125px;
  width: 33px;
  height: 36px;
}
.icon.integration-icon-github {
  background-position: -89px -125px;
  width: 38px;
  height: 36px;
}
.icon.integration-card-icon-email {
  background-position: 0 -163px;
  width: 26px;
  height: 18px;
}
.icon.integration-card-icon-webhook {
  background-position: -28px -163px;
  width: 18px;
  height: 18px;
}
.icon.integration-card-icon-github,
.icon.clusterType.git {
  background-position: -48px -163px;
  width: 19px;
  height: 18px;
}
.icon.integration-card-icon-github-add-new {
  background-position: -85px -163px;
  width: 22px;
  height: 22px;
}
.icon.ship-complete-yml-dl {
  background-position: 0 -183px;
  width: 37px;
  height: 44px;
}
.icon.ship-complete-icon-gh {
  background-position: -39px -183px;
  width: 46px;
  height: 44px;
}
.icon.success-checkmark-icon {
  background-position: 0 -229px;
  width: 40px;
  height: 41px;
}
.icon.error-checkmark-icon {
  background-position: -42px -229px;
  width: 40px;
  height: 41px;
}
.icon.checkmark-icon {
  background-position: 0 -271px;
  width: 16px;
  height: 16px;
}
.icon.downloadAssets--small {
  background-position: -69px -163px;
  width: 14px;
  height: 16px;
}
.icon.exclamationMark-icon {
  background-position: -18px -271px;
  width: 16px;
  height: 16px;
}
.icon.backArrow-icon {
  background-position: -54px -271px;
  width: 7px;
  height: 12px;
}
.icon.blueCircleMinus--icon {
  background-position: -63px -271px;
  width: 17px;
  height: 16px;
}
.icon.warn-icon {
  width: 16px;
  height: 16px;
}
.icon.u-betaBadge {
  background-position: -88px -189px;
  width: 33px;
  height: 16px;
}
.icon.u-superWarning--large {
  background-position: -42px -229px;
  width: 40px;
  height: 40px;
}
.icon.u-unforkIcon {
  background-position: -66px 0;
  width: 18px;
  height: 18px;
}
.icon.clusterType.ship {
  background-position: -105px 0;
  width: 17px;
  height: 18px;
}
.icon.u-manageQuestionIcon {
  background-position: -85px 0;
  width: 18px;
  height: 18px;
}
.icon.u-arrow {
  background-position: -101px -275px;
  width: 5px;
  height: 9px;
}
.icon.ship-medium-size {
  background-position: -66px -32px;
  width: 41px;
  height: 44px;
}
.icon.u-grayX-icon {
  background-position: -32px -719px;
  width: 14px;
  height: 14px;

  &:hover {
    background-position: -48px -719px;
  }
}
