
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.8
  creationTimestamp: null
  name: configvalues.kots.io
spec:
  group: kots.io
  names:
    kind: ConfigValues
    listKind: ConfigValuesList
    plural: configvalues
    singular: configvalues
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: App is the Schema for the app API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ConfigValuesSpec defines the desired state of ConfigValue
          properties:
            values:
              additionalProperties:
                properties:
                  data:
                    type: string
                  dataPlaintext:
                    type: string
                  default:
                    type: string
                  value:
                    type: string
                  valuePlaintext:
                    type: string
                type: object
              type: object
          required:
          - values
          type: object
        status:
          description: ConfigValuesStatus defines the observed state of ConfigValues
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
