
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: identities.kots.io
spec:
  group: kots.io
  names:
    kind: Identity
    listKind: IdentityList
    plural: identities
    singular: identity
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Identity is the Schema for the identity document
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            idTokensExpiration:
              type: string
            identityIssuerURL:
              type: string
            oauth2AlwaysShowLoginScreen:
              type: boolean
            oidcRedirectUris:
              items:
                type: string
              type: array
            requireIdentityProvider:
              description: BoolOrString is a type that can hold an bool or a string.  When
                used in JSON or YAML marshalling and unmarshalling, it produces or
                consumes the inner type.  This allows you to have, for example, a
                JSON field that can accept a booolean string or raw bool.
              type: BoolString
            roles:
              items:
                properties:
                  description:
                    type: string
                  id:
                    type: string
                  name:
                    type: string
                required:
                - id
                type: object
              type: array
            signingKeysExpiration:
              type: string
            supportedProviders:
              items:
                type: string
              type: array
          required:
          - identityIssuerURL
          - oidcRedirectUris
          - requireIdentityProvider
          type: object
        status:
          description: IdentityStatus defines the observed state of Identity
          type: object
      type: object
  version: v1beta1
  versions:
  - name: v1beta1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
