
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: licenses.kots.io
spec:
  group: kots.io
  names:
    kind: License
    listKind: LicenseList
    plural: licenses
    singular: license
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: License is the Schema for the license API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LicenseSpec defines the desired state of LicenseSpec
            properties:
              appSlug:
                type: string
              channelID:
                type: string
              channelName:
                type: string
              customerName:
                type: string
              endpoint:
                type: string
              entitlements:
                additionalProperties:
                  properties:
                    description:
                      type: string
                    isHidden:
                      type: boolean
                    title:
                      type: string
                    value:
                      type: object
                    valueType:
                      type: string
                  type: object
                type: object
              isAirgapSupported:
                type: boolean
              isGeoaxisSupported:
                type: boolean
              isGitOpsSupported:
                type: boolean
              isIdentityServiceSupported:
                type: boolean
              isNewKotsUiEnabled:
                type: boolean
              isSemverRequired:
                type: boolean
              isSnapshotSupported:
                type: boolean
              isSupportBundleUploadSupported:
                type: boolean
              licenseID:
                type: string
              licenseSequence:
                format: int64
                type: integer
              licenseType:
                type: string
              signature:
                format: byte
                type: string
            required:
            - appSlug
            - licenseID
            - signature
            type: object
          status:
            description: LicenseStatus defines the observed state of License
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
