
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: configs.kots.io
spec:
  group: kots.io
  names:
    kind: Config
    listKind: ConfigList
    plural: configs
    singular: config
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Config is the Schema for the config API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ConfigSpec defines the desired state of ConfigSpec
            properties:
              groups:
                items:
                  properties:
                    description:
                      type: string
                    items:
                      items:
                        properties:
                          affix:
                            type: string
                          countByGroup:
                            additionalProperties:
                              type: integer
                            type: object
                          data:
                            type: string
                          default:
                            type: BoolString
                          error:
                            type: string
                          filename:
                            type: string
                          help_text:
                            type: string
                          hidden:
                            type: boolean
                          items:
                            items:
                              properties:
                                default:
                                  type: BoolString
                                name:
                                  type: string
                                recommended:
                                  type: boolean
                                title:
                                  type: string
                                value:
                                  type: BoolString
                              required:
                              - name
                              - title
                              type: object
                            type: array
                          minimumCount:
                            type: integer
                          multi_value:
                            items:
                              type: string
                            type: array
                          multiple:
                            type: boolean
                          name:
                            type: string
                          readonly:
                            type: boolean
                          recommended:
                            type: boolean
                          repeatable:
                            type: boolean
                          required:
                            type: boolean
                          templates:
                            items:
                              properties:
                                apiVersion:
                                  type: string
                                kind:
                                  type: string
                                name:
                                  type: string
                                namespace:
                                  type: string
                                yamlPath:
                                  type: string
                              required:
                              - apiVersion
                              - kind
                              - name
                              type: object
                            type: array
                          title:
                            type: string
                          type:
                            type: string
                          value:
                            type: BoolString
                          valuesByGroup:
                            additionalProperties:
                              additionalProperties:
                                type: string
                              type: object
                            type: object
                          when:
                            description: QuotedBool is a string type that can also
                              unmarshal raw yaml bools.
                            type: QuotedBool
                          write_once:
                            type: boolean
                        required:
                        - name
                        - type
                        type: object
                      type: array
                    name:
                      type: string
                    title:
                      type: string
                    when:
                      description: QuotedBool is a string type that can also unmarshal
                        raw yaml bools.
                      type: QuotedBool
                  required:
                  - name
                  - title
                  type: object
                type: array
            required:
            - groups
            type: object
          status:
            description: ConfigStatus defines the observed state of Config
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
