contents:
  repositories:
    - https://packages.wolfi.dev/os
    - ./packages/
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    - ./packages/chainguard-enterprise.rsa.pub
    - ./melange.rsa.pub
  packages:
    - kotsadm-head  # This is expected to be built locally by `melange`.

    # All currently supported kubectl versions.
    # TODO: this requires manual intervention whenever there are new kubectl releases.
    - kubectl-1.19
    - kubectl-1.20
    - kubectl-1.21
    - kubectl-1.22
    - kubectl-1.23
    - kubectl-1.24
    - kubectl-1.25
    - kubectl-1.26
    - kubectl-1.27
    - kubectl-1.28

    - bash
    - busybox
    - curl
    - git
    - helm
    - kustomize
    - py3-dateutil
    - py3-magic
    - s3cmd
    - wolfi-baselayout

accounts:
  groups:
    - groupname: kotsadm
      gid: 1001
  users:
    - username: kotsadm
      uid: 1001
      gid: 1001
  run-as: kotsadm

environment:
  VERSION: ${GIT_TAG}
  KOTS_KUBECTL_BIN_DIR: /usr/local/bin
  KOTS_HELM_BIN_DIR: /usr/local/bin
  KOTS_KUSTOMIZE_BIN_DIR: /usr/local/bin

entrypoint:
  command: /kotsadm

cmd: api

archs:
  - x86_64
  - aarch64
