contents:
  repositories:
    - https://apk.cve0.io
    - ./packages/
  keyring:
    - https://apk.cve0.io/key/cve0-signing.rsa.pub
    - ./melange-arm64.rsa.pub
    - ./melange-amd64.rsa.pub
  packages:
    - kotsadm-head  # This is expected to be built locally by `melange`.
    - kubectl
    - bash
    - busybox
    - curl
    - git
    - kustomize
    - py3-dateutil
    - py3-magic
    - s3cmd
    - securebuild-baselayout
    - helm~4.1.3

accounts:
  groups:
    - groupname: kotsadm
      gid: 1001
  users:
    - username: kotsadm
      uid: 1001
      gid: 1001
  run-as: kotsadm

environment:
  VERSION: ${GIT_TAG}

paths:
  - path: /usr/local/bin/helm
    type: symlink
    source: /usr/bin/helm
    permissions: 0o755
  - path: /usr/local/bin/kustomize
    type: symlink
    source: /usr/bin/kustomize
    permissions: 0o755

entrypoint:
  command: /kotsadm

cmd: api
