package:
  name: kotsadm-head
  version: "0.0.1" # our versioning is not compatible with apk
  epoch: 0
  description: Kotsadm package
  copyright:
    - license: Apache-2.0

environment:
  contents:
    repositories:
      - https://packages.wolfi.dev/os
    keyring:
      - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    packages:
      - ca-certificates-bundle
      - busybox
      - git
      - go
      - nodejs
      - yarn
      - make

pipeline:
  - uses: git-checkout
    with:
      repository: https://github.com/helm/helm 
      branch: dev-v3
      # https://github.com/helm/helm/commit/038321ce79301812e8303372230c8387d00e2d1c
      expected-commit: 038321ce79301812e8303372230c8387d00e2d1c
      destination: helm

  - runs: |
      set -x
      export DESTDIR="${{targets.destdir}}"
      mkdir -p ${DESTDIR}/usr/local/bin/

      # Build Helm that has --take-ownership flag
      # TODO: remove this when latest Helm supports --take-ownership flag
      cd helm
      make build
      mv bin/helm "${DESTDIR}/usr/local/bin/helm"
      cd ..

      # Scripts etc.
      mv deploy/assets "${DESTDIR}/scripts"

      # kotsadm and kots binaries
      export VERSION=${GIT_TAG}
      export GIT_TAG=${GIT_TAG}

      # Set environment variables from repository
      source .image.env

      # TODO: fix pact build error on arm https://github.com/pact-foundation/pact-js-core/issues/264
      export PACT_SKIP_BINARY_INSTALL=true

      # Configure Yarn
      yarn install --pure-lockfile --network-concurrency 1

      make -C web deps build-kotsadm
      make kots build

      mv bin/kotsadm "${DESTDIR}/kotsadm"
      mv bin/kots "${DESTDIR}/kots"

      ln -s /usr/bin/kustomize ${DESTDIR}/usr/local/bin/kustomize
      ln -s /usr/bin/kubectl ${DESTDIR}/usr/local/bin/kubectl
      ln -s /usr/bin/helm ${DESTDIR}/usr/local/bin/helm
