---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kotsadm-rqlite
  labels:
    kots.io/kotsadm: "true"
    kots.io/backup: velero
spec:
  replicas: 1
  serviceName: kotsadm-rqlite-headless
  podManagementPolicy: "Parallel"
  selector:
    matchLabels:
      app: kotsadm-rqlite
  volumeClaimTemplates:
  - metadata:
      name: kotsadm-rqlite
    spec:
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: 1Gi
  template:
    metadata:
      labels:
        app: kotsadm-rqlite
        kots.io/kotsadm: "true"
        kots.io/backup: velero
    spec:
      securityContext:
        runAsUser: 1001
        fsGroup: 1001
      volumes:
      - name: authconfig
        secret:
          secretName: kotsadm-rqlite
          items:
          - key: authconfig.json
            path: authconfig.json
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: "app"
                  operator: In
                  values:
                  - kotsadm-rqlite
            topologyKey: "kubernetes.io/hostname"
      containers:
      - image: rqlite/rqlite:__RQLITE_TAG__
        name: rqlite
        args:
        - -disco-mode=dns
        - -disco-config={"name":"kotsadm-rqlite-headless"}
        - -bootstrap-expect=1
        - -auth=/auth/config.json
        - -join-as=kotsadm
        ports:
        - name: rqlite
          containerPort: 4001
        - name: raft
          containerPort: 4002
        volumeMounts:
        - name: kotsadm-rqlite
          mountPath: /rqlite/file
        - name: authconfig
          mountPath: /auth/config.json
          subPath: authconfig.json
        env:
        - name: RQLITE_PASSWORD # this is used by the support bundle collector to get the db backup from rqlite
          valueFrom:
            secretKeyRef:
              name: kotsadm-rqlite
              key: password
        livenessProbe:
          httpGet:
            scheme: HTTP
            path: /readyz?noleader
            port: rqlite
          initialDelaySeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            scheme: HTTP
            path: /readyz
            port: rqlite
          initialDelaySeconds: 1
          timeoutSeconds: 1
          periodSeconds: 1
        resources:
          limits:
            cpu: 200m
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 100Mi
---
apiVersion: v1
kind: Service
metadata:
  name: kotsadm-rqlite
  labels:
    app: kotsadm-rqlite
spec:
  type: ClusterIP
  ports:
  - name: rqlite
    port: 4001
    targetPort: rqlite
  selector:
    app: kotsadm-rqlite
---
apiVersion: v1
kind: Service
metadata:
  name: kotsadm-rqlite-headless
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: True
  selector:
    app: kotsadm-rqlite
  ports:
    - protocol: TCP
      port: 4001
      targetPort: rqlite
