apiVersion: v1
kind: Secret
metadata:
  name: kotsadm-rqlite
  labels:
    kots.io/kotsadm: 'true'
    kots.io/backup: velero
stringData:
  uri: http://kotsadm:${RQLITE_PASSWORD}@kotsadm-rqlite:4001?level=strong&timeout=10
  password: ${RQLITE_PASSWORD}
  authconfig.json: |
    [{"username": "kotsadm", "password": "${RQLITE_PASSWORD}", "perms": ["all"]}, {"username": "*", "perms": ["status", "ready"]}]
