.Identity--wrapper {
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  .IdentityProvider--info > div {
    width: 47%;
    align-items: center;
    padding: 0;
  }

  .FileUpload-wrapper {
    cursor: default;
    border: 1px dashed #DFDFDF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;

    &.has-file {
      border: 1px solid #44bb66;
      color: #44bb66;
      padding: 12px;

      &.has-error {
       border: 1px solid #BC4752;
       background-color: #FFF9F9;
       color: #BC4752;
      }
    }
  }

  .IdentityProviderAdvanced--info > div {
    width: 30%;
    align-items: center;
    padding: 0;
  }
} 

.identityProviderBtn {
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 25px;
  height: 55px;

  &:hover {
    background-color: #F5F8FC;
  }

  &.is-active {
    background: #F5F8FC;
    border: 1px solid #326DE6;
  }
}

.IdentityProviderWarning--wrapper {
  background: #FBE9D7;
  border-radius: 4px;
  padding: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #EC8F39;
  width: 490px;
}

.DummyRbacRow--wrapper {
  background: #F8F8F8;
  border-radius: 4px;
  margin-bottom: 15px; 
  height: 30px;
  padding: 12px;

  .EmptyRow {
    background: #EAEAEA;
    border-radius: 2px;

    &.name {
      width: 300px;
      height: 14px;
    }
    &.role {
      width: 54px;
      height: 14px;
    }
  }

  .EmptyCircle {
    background: #EAEAEA;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.AddRoleGroup--wrapper {
  position: absolute;
  top: calc(100% - 242px);
  left: calc(100% - 655px);
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 580px;
  padding: 15px;
  text-align: center;
}

.Roles--wrapper {
  background: #F8F8F8;
  border-radius: 4px;
  padding: 10px;
}

.RoleNum--wrapper {
  background: #EAF0FC;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #556F8F;
}
