@import "../../variables.scss";

.Select {
  position: relative;
  width: 100%;
  background: #ffffff;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 14px;
  color: $text-color-primary;
  line-height: normal;
  outline: none;
  height: 32px;

  cursor: pointer;
  
  &.has-error,
  &.has-error:focus,
  &.has-error:active {
    border-color: $error-color;
  }
}
.Select.no-selection {
  color: $text-color-body-copy;
}
.Select.is-disabled {
  &.has-error {
    border-color: $error-color;
  }
  cursor: not-allowed;
  background-color: #F8F8F8;
  border-color: lighten($border-color, 30%);
  color: $text-color-accent;
  
}