@use "../../variables.scss";

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid variables.$border-color;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: variables.$text-color-primary;
  padding: 10px 11px 11px;
  transition: border 0.2s;
  resize: vertical;
}
.Textarea:active,
.Textarea:focus {
  border-color: var(--primary-color);
}
.Textarea.has-error,
.Textarea.has-error:focus,
.Textarea.has-error:active {
  border-color: var(--error-color);
}
