@import "../../variables.scss";

.Textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: $text-color-primary;
  padding: 10px 11px 11px;
  transition: border .2s;
  resize: vertical;
}
.Textarea:active,
.Textarea:focus {
  border-color: $accent-color;
}
.Textarea.has-error,
.Textarea.has-error:focus,
.Textarea.has-error:active {
  border-color: $error-color;
}