contents:
  repositories:
    - https://apk.cve0.io
  keyring:
    - https://apk.cve0.io/key/cve0-signing.rsa.pub
  packages:
    - minio~0.20251015.172955
    - minio-oci-entrypoint~0.20251015.172955
    - ca-certificates-bundle
    - securebuild-baselayout
    - busybox
    - coreutils
    - glibc

entrypoint:
  command: /usr/bin/docker-entrypoint.sh

cmd: minio

stop-signal: SIGTERM

accounts:
  groups:
    - groupname: minio
      gid: 1001
  users:
    - username: minio
      uid: 1001
      gid: 1001
  run-as: minio

volumes:
  - /data

paths:
  - path: /data
    type: directory
    permissions: 0o755

work-dir: /
