@use "../../variables.scss";

.Identity--wrapper {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;

  .FileUpload-wrapper {
    cursor: default;
    border: 1px dashed variables.$border-color;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;

    &.has-file {
      border: 1px solid var(--success-color);
      color: var(--success-color);
      padding: 12px;

      &.has-error {
        border: 1px solid var(--error-color);
        background-color: var(--error-color-light);
        color: var(--error-color);
      }
    }
  }
}

.identityProviderBtn {
  background: #ffffff;
  border: 1px solid variables.$border-color;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 25px;
  height: 55px;

  &:hover {
    background-color: variables.$primary-light-color;
  }

  &.is-active {
    background: variables.$primary-light-color;
    border: 1px solid var(--primary-color);
  }
}

.IdentityProviderWarning--wrapper {
  background: var(--warning-color-light);
  border-radius: 4px;
  padding: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: var(--warning-color);
  width: 490px;
}

.DummyRbacRow--wrapper {
  background: #f8f8f8;
  border-radius: 4px;
  margin-bottom: 15px;
  height: 30px;
  padding: 12px;

  .EmptyRow {
    background: #eaeaea;
    border-radius: 2px;

    &.name {
      width: 300px;
      height: 14px;
    }
    &.role {
      width: 54px;
      height: 14px;
    }
  }

  .EmptyCircle {
    background: #eaeaea;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
}

.AddRoleGroup--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 580px;
  padding: 15px;
  text-align: center;
}

.Roles--wrapper {
  background: #f8f8f8;
  border-radius: 4px;
  padding: 10px;
}

.RoleNum--wrapper {
  background: #eaf0fc;
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #556f8f;
}
