.tabview-tabname {
  padding: 0 8px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &.selected {
    color: $text-color-primary;
    font-weight: bold;
  }
}
