.Toggle {
  background-color: #f5f8f9;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  padding: 4px;

  .Toggle-item {
    color: #9b9b9b;
    background-color: transparent;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    padding: 6px 16px;
    margin-right: 8px;
    transition: background-color 0.2s, color 0.2s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      color: #323232;
    }

    &.is-active {
      color: #323232;
      background-color: #ffffff;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }
}
