.devcontainer
.github
.git
actions
design
deploy
bin
dist
hack
kurl_proxy
kustomize
migrations
scripts
testim
web
.gitignore
.image.env
.stignore
CODE_OF_CONDUCT.md
CODEOWNERS
CONTRIBUTING.md

web
!web/webcontent.go
!web/dist