<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Form to upload TLS certificate and key">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TLS Certificate and Key Upload</title>
  <link rel="stylesheet" href="tls-custom.css" />
  <!-- {{if .AppIcon }}
    <link rel="icon" type="image/png" href="{{ .AppIcon }}" />
  {{end}} -->
  <script src="tls.js"></script>
</head>

<body>
  <div class="u-minHeight--full u-width--full flex-column flex1">
    <div class="flex-1-auto flex u-width--full justifyContent--center alignItems--center">
      <div class="flex flex-column justifyContent--center alignItems--center">
        <div class="borderWrapper flex-column flex">
          <div class="flex u-marginBottom--8">
            <!-- {{if .AppIcon }}<span class="appIcon flex flex-auto" style="background-image: url('{{ .AppIcon }}')"></span>{{end}} -->
            <div class="flex-column flex1 justifyContent--center">
              <p class="tls-header">HTTPS for {{ .AppTitle }} the admin console</p>
            </div>
          </div>
          <!-- <p class="tls-header-sub">
            A self-signed TLS certificate is currently used to secure communication
            between your browser and the admin console. You will see a warning in your browser
            every time you access the admin console unless you upload your own TLS certificate.
          </p> -->

          <form id="upload-form" class="flex-column" action="" method="post" enctype="multipart/form-data">
            <!-- <select name="type" id="type">
                <option value="self-signed">self signed</option>
                <option value="custom">custom cert</option>
              </select> -->

            <div>
              <p class="tls-section-header2">Certificate type</p>
              <input type="radio" name="type" id="self-signed" value="self-signed" checked>
              <label for="self-signed">Self-signed</label>
              <input type="radio" name="type" id="custom-cert" value="custom-cert">
              <label for="custom-cert">CA-signed</label>
            </div>
            <p class="tls-header-sub self-signed-visible">
              A self-signed TLS certificate is currently used to secure communication
              between your browser and the admin console. You will see a warning in your browser
              every time you access the admin console unless you upload your own TLS certificate.
            </p>
            <p class="tls-header-sub custom-cert-visible hidden">
              A CA-signed TLS certificate will be used to secure communication between your browser
              and the admin console.
            </p>
            <div>
              <p class="tls-section-header2">
                Hostname
                <span class="self-signed-visible">(optional)</span>
              </p>
              <p id="hostname-hint" class="hostname-hint"></p>
              <p class="tls-section-sub-sub">Ensure this domain is routable on your network.</p>
              <input id="hostname" class="form-input larger" type="text" name="hostname"
                placeholder="app.yourdomain.com" style="width: 250px; margin-bottom: 20px;" />
            </div>
            <div class="custom-cert-visible hidden">
              <p class="tls-section-header">Private key & certificate</p>
              <p class="tls-section-sub">Files will be uploaded directly to the mangement server and will never leave.
              </p>
            </div>
            <div class="flex upload-form hidden custom-cert-visible" id="upload-files">
              <div class="u-position--relative flex-column flex-auto upload">
                <div>
                  <label class="tls-section-header2">Upload private key</label>
                  <input type="file" name="key" id="key" class="inputkey" />
                  <label for="key" class="btn secondary u-marginTop--8">Choose private key</label>
                </div>
              </div>
              <div class="u-position--relative flex-column flex-auto u-marginRight--15 upload">
                <div>
                  <label class="tls-section-header2">Upload SSL certificate</label>
                  <input type="file" name="cert" id="cert" class="inputcert" />
                  <label for="cert" class="btn secondary u-marginTop--8">Choose SSL certificate</label>
                </div>
              </div>
            </div>

            <div id="error" style="display: none">
              <div class="notification is-warning">
                <p id="tls-error-msg"></p>
              </div>
            </div>

            <div class="button-wrapper flex alignItems--center">
              <button class="btn primary" type="submit">
                <span class="self-signed-visible">Continue</span>
                <span class="custom-cert-visible hidden">Upload &amp; continue</span>
              </button>
              <!-- <div class="flex-column justifyContent--center">
                <button id="skip-button" class="text-button" type="submit" formaction="/tls/skip">Skip &amp;
                  continue</button>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>