apiVersion: apps/v1
kind: Deployment
metadata:
  name: kurl-proxy-kotsadm
  labels:
    app: kurl-proxy-kotsadm
    kots.io/kotsadm: \"true\"
    kots.io/backup: velero
spec:
  selector:
    matchLabels:
      app: kurl-proxy-kotsadm
  template:
    metadata:
      labels:
        app: kurl-proxy-kotsadm
        kots.io/kotsadm: \"true\"
        kots.io/backup: velero
    spec:
      containers:
      - name: proxy
        image: __KURL_PROXY_IMAGE__
        imagePullPolicy: IfNotPresent
        env:
        - name: NODE_PORT
          value: \"8800\"
        - name: UPSTREAM_ORIGIN
          value: http://kotsadm:3000
        - name: DEX_UPSTREAM_ORIGIN
          value: http://kotsadm-dex:5556
        - name: TLS_SECRET_NAME
          value: kotsadm-tls
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        volumeMounts:
        - name: kotsadm-config
          mountPath: /etc/kotsadm
        resources:
          requests:
            cpu: 50m
            memory: 50Mi
      serviceAccount: kurl-proxy
      volumes:
      - name: kotsadm-config
        configMap:
          name: kotsadm-application-metadata
          optional: true
