.ChangePasswordModal {
  h3 {
    font-size: 22px;
    color: #4A4A4A;
  }

  .Modal-body {
    gap: 20px;
  }

  .change-password-form {
    gap: 12px;
    width: 100%;
    
    label {
      color: #323232;
    }
    input {
      margin-bottom: 8px;
    }
  }
  
  .show-password-toggle {
    color: #326DE6;
    font-size: 12px;
    position: relative;
    float: right;
  }

  .change-password-submit-section {
    gap: 10px;
    align-items: center;

    .change-password-error {
      font-size: 14px;
      color: #F65C5C;
    }
  }
}
