contents:
  repositories:
    - https://packages.wolfi.dev/os
    - ./packages/
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
    - ./melange.rsa.pub
  packages:
    - kurl-proxy-head  # This is expected to be built locally by `melange`.
    - bash
    - curl
    - git
    - wolfi-baselayout

accounts:
  groups:
    - groupname: kotsadm
      gid: 1001
  users:
    - username: kotsadm
      uid: 1001
      gid: 1001
  run-as: kotsadm

environment:
  VERSION: ${GIT_TAG}

cmd: /kurl_proxy

archs:
  - x86_64
  - aarch64
