@import "../../variables.scss";

.ErrorToast {
  position: absolute;
  left: 50%;
  top: 220px;
  z-index: 300;
  padding: 11px 10px 10px;
  line-height: normal;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: transform .3s cubic-bezier(0.285, -0.575, 0.675, 1.440);
  transform: translate(-50%, -90px);
  background-color: lighten($error-color, 43.5%);
  color: $error-color;
  max-width: 400px;
}