@import "../../variables.scss";

.CodeSnippet {
  &.variant-blue {
    .CodeSnippet-content {
      padding: 15px;
      border: 1px solid $border-color;
      border-radius: 4px;
      background-color: lighten($primary-color, 43.5%);
    }
  }

  // Any new styling for the plain variant can go here
  // &.variant-plain {}
}

.CodeSnippet-copy {
  color: $link-color;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    &.is-copied {
      text-decoration: none;
    }
  }
}
