@use "../../variables.scss";

.CodeSnippet {
  &.variant-blue {
    .CodeSnippet-content {
      padding: 15px;
      border: 1px solid variables.$border-color;
      border-radius: 4px;
      background-color: variables.$primary-light-color;
    }
  }

  // Any new styling for the plain variant can go here
  // &.variant-plain {}
}

.CodeSnippet-copy {
  color: var(--link-color);
  font-size: 12px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    text-decoration: underline;

    &.is-copied {
      text-decoration: none;
    }
  }
}
