@use "../../variables.scss";

.Footer-wrapper {
  background-color: variables.$sub-nav-color;
}
.FooterContent-wrapper {
  padding: 12px 0;
  margin: 0 auto;
}
.FooterItem-wrapper a:hover {
  text-decoration: underline;
}
.FooterItem,
a.FooterItem {
  font-size: 12px;
  padding: 0 10px;
  position: relative;
  color: variables.$text-color-body-copy;
  font-weight: 400;
}
.FooterItem-wrapper:first-child .FooterItem {
  padding-left: 0;
}
.FooterItem-wrapper:last-child .FooterItem {
  padding-right: 0;
}
.FooterItem-wrapper:not(:last-child) .FooterItem::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  right: 0;
  top: 2px;
  background-color: variables.$border-color;
}

.TargetKotsVersionWrapper {
  display: flex;
  align-items: center;
  font-size: 10px;
  border-radius: 4px;
  padding: 4px 6px;
  margin-top: 1px;
  margin-bottom: 1px;
  background: #e1f0f1;
  color: #577981;
}
