@use "../../variables.scss";

.InlineDropdown--wrapper {
  position: relative;

  .display-text {
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    user-select: none;
    color: var(--link-color);
  }

  &:hover .display-text {
    text-decoration: underline;
  }

  .icon.down-arrow-icon-blue {
    transition: transform 0.2s ease-in-out;
  }

  &.show-options .icon.down-arrow-icon-blue {
    transform: rotate(180deg);
  }

  .Options--wrapper {
    display: none;
    position: absolute;
    right: 0;
    top: 130%;
    background-color: #ffffff;
    border: 1px solid variables.$border-color;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;

    .option {
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      color: var(--link-color);
      padding: 8px;
      cursor: pointer;
      display: block;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: variables.$really-light-accent;
      }
    }
  }

  &.show-options .Options--wrapper {
    display: block;
  }
}
