/* Header */

.NavBarWrapper {
  width: 100%;
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 #DFDFDF;
  margin-bottom: 0;
  min-height: 50px;
  &.cluster-scope {
    .logo {
      background-position: -34px 0;
    }
    .smaller {
      opacity: .75;
      font-size: 12px;
    }
  }
}

.NavBar-add-app {
  padding: 8px 25px;
  border: 2px solid #44BB66;
  border-radius: 30px;
}

/* Header Logo */

.HeaderLogo a {
  display: flex;
  flex-direction: row;
}
.HeaderLogo .logo {
  background-position: 0 0;
  width: 30px;
  height: 30px;
}
.HeaderLogo .text {
  font-size: 16px;
  font-weight: 600;
  color: #4A4A4A;
  margin-left: 10px;
}

.watch-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

/* Nav Items */

.NavItem,
.NavItem a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  transition: color .15s;
  user-select: none;

  &:hover {
    color: #323232;
    text-decoration: none;
  }
}

.left-items {
  .NavItem {
    padding: 0 15px;
  }
}

/* ≥ 960px */
@media screen and (min-width: 60em) {

}

/* ≥ 1024px */
@media screen and (min-width: 64em) {

}
