@import "../../variables.scss";

/* Header */

.NavBarWrapper {
  width: 100%;
  padding: 0;
  background-color: $nav-color;
  box-shadow: 0 1px 0 $border-color;
  margin-bottom: 0;
  min-height: 50px;
  &.cluster-scope {
    .logo {
      background-position: -34px 0;
    }
    .smaller {
      opacity: .75;
      font-size: 12px;
    }
  }
}

/* Header Logo */

.HeaderLogo a {
  display: flex;
  flex-direction: row;
}
.HeaderLogo .logo {
  background-position: 0 0;
  width: 30px;
  height: 30px;
}
.HeaderLogo .text {
  font-size: 16px;
  font-weight: 600;
  color: $nav-text-color;
  margin-left: 10px;
}

.nav-logo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #ffffff;
  z-index: 1;
}

/* Nav Items */

.NavItem,
.NavItem a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: $nav-text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  transition: color .15s;
  user-select: none;

  &.is-active {
    border-bottom: 2px solid $accent-color;
  }

  &:hover {
    color: darken($nav-text-color, 8%);
    text-decoration: none;
  }
}

.left-items {
  .NavItem {
    padding: 0 15px;
  }
}

.flag {
  width: 139px;
  height: 24px;
  position: relative;
  background: #F7B500;
  margin-top: 3px;
  right: 6px;
}
.flag:after {
  content: "";
  position: absolute;
  left: 126px;
  top: 0;
  width: 0;
  height: 0;
  border-right: 13px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 15px solid transparent;
}
.flag:before {
  content: "";
  position: absolute;
  right: 133px;
  top: 0;
  width: 0;
  height: 0;
  border-left: 18px solid #fff;
  border-top: 21px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
}

.flagText { 
  padding: 5px 20px 7px 13px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

/* ≥ 960px */
@media screen and (min-width: 60em) {

}

/* ≥ 1024px */
@media screen and (min-width: 64em) {

}
