@import "../../variables.scss";

/* Header */

.NavBarWrapper {
  width: calc(100vw - 60px);
  padding: 0 30px;
  background-color: $nav-color;
  box-shadow: 0 1px 0 $border-color;
  margin-bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  &.cluster-scope {
    .logo {
      background-position: -34px 0;
    }
    .smaller {
      opacity: 0.75;
      font-size: 12px;
    }
  }
  /* Header Logo */

  .HeaderLogo {
    margin-right: 20px;
  }

  .HeaderLogo a {
    display: flex;
    flex-direction: row;
  }
  .HeaderLogo .logo {
    background-position: 0 0;
    width: 30px;
    height: 30px;
  }
  .HeaderLogo .text {
    font-size: 16px;
    font-weight: 600;
    color: $nav-text-color;
    margin-left: 10px;
  }

  .nav-logo {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #ffffff;
    z-index: 1;
  }

  /* Nav Items */

  .left-items {
    .NavItem {
      padding: 0 15px;
    }
  }

  .flag {
    height: 24px;
    position: relative;
    background: var(--warning-color);
    margin-top: 3px;
    border-radius: 8px;
    margin-left: 10px;
  }

  .flagText {
    padding: 6px 12px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  .navbar-dropdown-container {
    .menu-dots-icon {
      display: block;
      cursor: pointer;
    }
  }
}
.NavItem,
.NavItem a {
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: $nav-text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  transition: color 0.15s;
  user-select: none;

  &.is-active {
    border-bottom: 2px solid var(--primary-color);
  }

  &:hover {
    color: darken($nav-text-color, 8%);
    text-decoration: none;
  }
}
.dropdown-nav-menu {
  position: absolute;
  border: 1px solid #bebebe;
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 47px;
  right: 17px;
  background: white;

  li {
    padding: 8px;
    width: calc(100% - 16px);
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;

    a {
      color: #9c9c9c;
      font-size: 14px;
      line-height: 14px;
    }

    &:hover,
    & a:hover {
      background: #f8f8f8;
      border-radius: 4px;
      color: #326de6;
    }
  }

  &.hidden {
    visibility: hidden;
  }

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 10px;
    position: absolute;
    background-color: white;
    right: 11px;
    top: 0;
    z-index: 10;
  }
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: white;
    border: 1px solid #bebebe;
    border-radius: 2px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    right: 19px;
    top: 0px;
    transform-origin: 0 0;
    transform: rotate(-45deg);
  }
}
