.sidebar {
  padding: 20px;
  background-color: #F8F8F8;
  border-right: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  max-width: 255px;
}

.sidebar-link {
  padding: 13px 10px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,0.16);
  transition: box-shadow .2s;

  &:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
  }

  &.selected,
  &.selected:hover {
    background-color: #F5F8FC;
    border: 1px solid #337AB7;
    box-shadow: none;
  }

}

.sidebar-link-icon {
  height: 36px;
  width: 36px;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
  border-radius: 40px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}