@use "../../variables.scss";

.sidebar {
  padding: 20px;
  background-color: variables.$sub-nav-color;
  border-right: 1px solid variables.$border-color;
  border-top: 1px solid variables.$border-color;
  border-bottom: 1px solid variables.$border-color;
  width: 255px;
}

.sidebar-link {
  padding: 13px 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
  border: 1px solid transparent;

  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }

  &.selected,
  &.selected:hover {
    background-color: variables.$primary-light-color;
    border-color: #337ab7;
    box-shadow: none;
  }
}

.sidebar-link-icon {
  height: 36px;
  width: 36px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
