.snapshot-form-wrapper {
  width: 100%;
  max-width: 400px;
  background: #F8F8F8;
  border-radius: 4px;
  padding: 10px;

  .BoxedCheckbox {
    padding-left: 10px;
  }
}

.cron-expression-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #9B9B9B;
  bottom: -18px;
}

.optional-text {
  font-size: 12px;
  font-weight: 500;
  color: #C4C8CA;
  line-height: 1;
  margin-left: 4px;
}

.gcs-editor {
  border-radius: 4px;
  border: 1px solid #DFDFDF;
  overflow: hidden;
}

.Info--wrapper {
  width: 100%;
  max-width: 400px;
  background: #F5F8FC;
  border-radius: 4px;
  padding: 10px;
}
