@import "../../variables.scss";

.snapshot-form-wrapper {
  width: 100%;
  max-width: 400px;
  background: $sub-nav-color;
  border-radius: 4px;
  padding: 10px;

  .BoxedCheckbox {
    padding-left: 10px;
  }
}

.cron-expression-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: $text-color-body-copy;
  bottom: -18px;
}

.optional-text {
  font-size: 12px;
  font-weight: 500;
  color: #C4C8CA;
  line-height: 1;
  margin-left: 4px;
}

.gcs-editor {
  border-radius: 4px;
  border: 1px solid $border-color;
  overflow: hidden;
}

.Info--wrapper {
  width: 100%;
  max-width: 400px;
  background: lighten($primary-color, 43.5%);
  border-radius: 4px;
  padding: 10px;
}
