@use "../../variables.scss";

.snapshot-form-wrapper {
  width: 100%;
  max-width: 400px;
  background: variables.$sub-nav-color;
  border-radius: 4px;
  padding: 10px;

  .BoxedCheckbox {
    padding-left: 10px;
  }
}

.cron-expression-text {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: variables.$text-color-body-copy;
  bottom: -18px;
}

.optional-text {
  font-size: 12px;
  font-weight: 500;
  color: #c4c8ca;
  line-height: 1;
  margin-left: 4px;
}

.gcs-editor {
  border-radius: 4px;
  border: 1px solid variables.$border-color;
  overflow: hidden;
}

.Info--wrapper {
  width: 100%;
  max-width: 400px;
  background: variables.$primary-light-color;
  border-radius: 4px;
  padding: 10px;
}

.AddCAButton {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  width: max-content;
  text-align: left;
}

.cert-dropzone-wrapper {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  border: 2px dashed #c4c8ca;
  border-radius: 2px;
}

.ca-cert-file-wrapper {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  border: 2px dashed #c4c8ca;
  border-radius: 2px;
}
