contents:
  repositories:
    - https://apk.cve0.io
    - ./packages/
  keyring:
    - https://apk.cve0.io/key/cve0-signing.rsa.pub
    - ./melange-arm64.rsa.pub
    - ./melange-amd64.rsa.pub
  packages:
    - kotsadm-migrations-head  # This is expected to be built locally by `melange`.
    - bash
    - busybox
    - curl
    - git
    - ca-certificates
    - securebuild-baselayout
    - schemahero

accounts:
  groups:
    - groupname: schemahero
      gid: 1001
  users:
    - username: schemahero
      uid: 1001
      gid: 1001
  run-as: schemahero

environment:
  VERSION: ${GIT_TAG}

entrypoint:
  command: /usr/bin/schemahero

cmd: apply
