- name: "minimal rook"
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    rook:
      version: 1.11.x
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "minimal disableS3"
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: "local"
    registry:
      version: "latest"
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
      disableS3: true
- name: "all optional addons openebs"
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: "local"
    minio: 
      version: "latest"
    velero: 
      version: "latest"
    registry:
      version: "latest"
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "upgrade from 1.49"
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: "local"
    minio:
      version: "latest"
    velero: 
      version: "latest"
    registry:
      version: "latest"
    kotsadm:
      version: 1.49.0
  upgradeSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: "local"
    minio:
      version: "latest"
    velero: 
      version: "latest"
    registry:
      version: "latest"
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "upgrade from 1.49 into disableS3"
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    longhorn: # openebs does not support velero internal backups
      version: "latest"
    minio:
      version: "latest"
    velero: 
      version: "latest"
    registry:
      version: "latest"
    kotsadm:
      version: 1.49.0
  upgradeSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    longhorn: # openebs does not support velero internal backups
      version: "latest"
    velero: 
      version: "latest"
    registry:
      version: "latest"
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
      disableS3: true
- name: "minimal rook airgap"
  airgap: true
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    rook:
      version: 1.11.x
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
- name: "minimal disableS3 airgap"
  airgap: true
  installerSpec:
    kubernetes:
      version: "1.26.x"
    containerd:
      version: "latest"
    flannel:
      version: "latest"
    openebs:
      version: "latest"
      isLocalPVEnabled: true
      localPVStorageClassName: "local"
    registry:
      version: "latest"
    kotsadm:
      version: "__testver__"
      s3Override: "__testdist__"
      disableS3: true
