bases:
  - ../../base
  - ../../../web/kustomize/overlays/dev
  - ../../../kurl_proxy/kustomize/overlays/dev

resources:
  - ./dex-postgres-secret.yaml
  - ./configmap-init-dex-db.yaml
  - ./dlv-service.yaml

patches:
  - ./deployment.yaml

commonLabels:
  app.kubernetes.io/name: kotsadm
