bases:
  - ../../base
  - ../rbac
  - ../../../web/kustomize/overlays/dev
  - ../../../kurl_proxy/kustomize/overlays/dev

patchesStrategicMerge:
  - ./deployment.yaml

commonLabels:
  app.kubernetes.io/name: kotsadm
