.change-password-form {
  gap: 12px;
  width: 100%;
  
  label {
    color: #323232;
  }

  input {
    margin-bottom: 8px;
  }

  .change-password-submit-section {
    gap: 10px;
    align-items: center;
  
    .change-password-error {
      font-size: 14px;
      color: #F65C5C;
    }
  }
}
