.ChangePasswordModal {
  h3 {
    font-size: 22px;
    color: #4A4A4A;
  }

  .Modal-body {
    gap: 20px;
  }

  .modal-text {
    max-width: 446px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
