.icons {
  color: var(--icon-color);
}
.clickable {
  cursor: pointer;
}
.not-clickable {
  cursor: not-allowed;
}
.warning-color {
  color: var(--warning-color);
}

.success-color {
  color: var(--success-color);
}
.no-activity-circle-filled--icon {
  color: #c4c8ca;
}

.error-color {
  color: var(--error-color);
}
.gray-color {
  color: #9b9b9b;
}
.darkGray-color {
  color: #717171;
}

.close-icon:hover {
  color: #717171;
}

.dev-license-icon {
  color: #4a4a4a;
}
.trial-license-icon {
  color: #239de0;
}
