name: alpha

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  generate-tag:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.GIT_TAG }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get tags
        id: get_tag
        uses: ./.github/actions/version-tag


  build-migrations-melange-packages:
    needs: [generate-tag]
    strategy:
      fail-fast: true
      matrix:
        runner: [
          {name: ubuntu-latest, arch: amd64},
          {name: arm64-runner-set, arch: arm64}
        ]
    runs-on: ${{ matrix.runner.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-melange-package
        with:
          context: migrations/deploy
          component: kotsadm-migrations
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          arch: ${{ matrix.runner.arch }}

  build-migrations:
    runs-on: ubuntu-latest
    needs: [generate-tag, build-migrations-melange-packages]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-image-with-apko
        with:
          context: migrations/deploy
          component: kotsadm-migrations
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          image-name: index.docker.io/kotsadm/kotsadm-migrations:alpha
          registry-username: ${{ secrets.DOCKERHUB_USER }}
          registry-password: ${{ secrets.DOCKERHUB_PASSWORD }}


  build-kotsadm-melange-packages:
    needs: [generate-tag]
    strategy:
      fail-fast: true
      matrix:
        runner: [
          {name: ubuntu-latest, arch: amd64},
          {name: arm64-runner-set, arch: arm64}
        ]
    runs-on: ${{ matrix.runner.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-melange-package
        with:
          context: deploy
          component: kotsadm
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          arch: ${{ matrix.runner.arch }}

  build-kotsadm:
    runs-on: ubuntu-latest
    needs: [generate-tag, build-kotsadm-melange-packages]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-image-with-apko
        with:
          context: deploy
          component: kotsadm
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          image-name: index.docker.io/kotsadm/kotsadm:alpha
          registry-username: ${{ secrets.DOCKERHUB_USER }}
          registry-password: ${{ secrets.DOCKERHUB_PASSWORD }}


  build-kurl-proxy-melange-packages:
    needs: [generate-tag]
    strategy:
      fail-fast: true
      matrix:
        runner: [
          {name: ubuntu-latest, arch: amd64},
          {name: arm64-runner-set, arch: arm64}
        ]
    runs-on: ${{ matrix.runner.name }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-melange-package
        with:
          context: kurl_proxy/deploy
          component: kurl-proxy
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          arch: ${{ matrix.runner.arch }}

  build-kurl-proxy:
    runs-on: ubuntu-latest
    needs: [generate-tag, build-kurl-proxy-melange-packages]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-custom-image-with-apko
        with:
          context: kurl_proxy/deploy
          component: kurl-proxy
          git-tag: ${{ needs.generate-tag.outputs.tag }}
          image-name: index.docker.io/kotsadm/kurl-proxy:alpha
          registry-username: ${{ secrets.DOCKERHUB_USER }}
          registry-password: ${{ secrets.DOCKERHUB_PASSWORD }}


  scan_rqlite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read image tags from env file
        uses: falti/dotenv-action@v1
        id: dotenv
        with:
          path: .image.env
      - name: Scan rqlite for vulnerabilities
        id: scan
        uses: ./.github/actions/scan-image
        with:
          image-ref: "docker.io/kotsadm/rqlite:${{ steps.dotenv.outputs.RQLITE_TAG }}"
          severity-cutoff: 'medium'
          fail-build: false
          output-file: 'rqlite-scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat rqlite-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: rqlite-scan-output.sarif


  scan_minio:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read image tags from env file
        uses: falti/dotenv-action@v1
        id: dotenv
        with:
          path: .image.env
      - name: Scan minio for vulnerabilities
        id: scan
        uses: ./.github/actions/scan-image
        with:
          image-ref: "docker.io/kotsadm/minio:${{ steps.dotenv.outputs.MINIO_TAG }}"
          severity-cutoff: 'medium'
          fail-build: false
          output-file: 'minio-scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat minio-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'minio-scan-output.sarif'


  scan_dex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read image tags from env file
        uses: falti/dotenv-action@v1
        id: dotenv
        with:
          path: .image.env
      - name: Scan dex for vulnerabilities
        id: scan
        uses: ./.github/workflows/scan-image-grype.yml
        with:
          image: "docker.io/kotsadm/dex:${{ steps.dotenv.outputs.DEX_TAG }}"
          severity-cutoff: 'medium'
          fail-build: false
          output-file: 'dex-scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat dex-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: dex-scan-output.sarif


  scan_kurl_proxy:
    runs-on: ubuntu-latest
    needs: [build-kurl-proxy]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Scan kurl-proxy for vulnerabilities
        id: scan
        uses: ./.github/workflows/scan-image-grype.yml
        with:
          image: 'docker.io/kotsadm/kurl-proxy:alpha'
          severity-cutoff: 'medium'
          fail-build: false
          output-file: 'kurl-proxy-scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat kurl-proxy-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: kurl-proxy-scan-output.sarif


  scan_local_volume_provider:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Read image tags from env file
        uses: falti/dotenv-action@v1
        id: dotenv
        with:
          path: .image.env
      - name: Scan replicated/local-volume-provider for vulnerabilities
        id: scan
        uses: ./.github/workflows/scan-image-grype.yml
        with:
          image: "docker.io/replicated/local-volume-provider:${{ steps.dotenv.outputs.LVP_TAG }}"
          severity-cutoff: 'medium'
          fail-build: false
          output-file: 'scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: scan-output.sarif


  scan_kotsadm:
    runs-on: ubuntu-latest
    needs: [build-kotsadm]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Scan kotsadm for vulnerabilities
        id: scan
        uses: ./.github/actions/scan-image
        with:
          image-ref: 'docker.io/kotsadm/kotsadm:alpha'
          fail-build: 'true'
          severity-cutoff: 'medium'
          output-file: 'kotsadm-scan-output.sarif'
          only-fixed: true
      - name: Print scan report
        run: cat kotsadm-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: kotsadm-scan-output.sarif

  scan_kotsadm_migrations:
    runs-on: ubuntu-latest
    needs: [build-migrations]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Scan migrations for vulnerabilities
        id: scan
        uses: ./.github/actions/scan-image
        with:
          image-ref: 'docker.io/kotsadm/kotsadm-migrations:alpha'
          fail-build: 'true'
          severity-cutoff: 'medium'
          output-file: 'kotsadm-migration-scan-output.sarif'
          retention-days: '90'
          category-prefix: 'image-scan-'
          only-fixed: 'true'
      - name: Print scan report
        run: cat kotsadm-migration-scan-output.sarif
      - name: Upload scan report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: kotsadm-migration-scan-output.sarif

