name: Update image deps

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:
    inputs:
      overwrite:
        description: 'Overwrite the existing image tags'
        required: false
        default: 'true'
jobs:
  build-3rd-party-images:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get tags
      id: get-tags
      run: |
        set -euo pipefail

        # We're only using the APKINDEX files to get the versions, so it doesn't matter which arch we use

        curl -LO --fail --show-error https://packages.wolfi.dev/os/x86_64/APKINDEX.tar.gz
        tar -xzvf APKINDEX.tar.gz

        minio_version=$(< APKINDEX grep -A1 "^P:minio$" | tail -n 1 | sed -n -e 's/V://p' | tr -d '\n')

        sed "s/__MINIO_VERSION__/$minio_version/g" deploy/minio/apko.yaml.tmpl > deploy/minio/apko.yaml

        # Get latest rqlite version from registry
        rqlite_version=$(skopeo list-tags docker://proxy.replicated.com/library/rqlite | \
          jq -r '.Tags[]' | \
          grep -E '^[0-9]+\.[0-9]+\.[0-9]+$' | \
          sort -V | \
          tail -n 1)

        # Get latest dex version from registry
        dex_version=$(skopeo list-tags docker://proxy.replicated.com/library/dex | \
          jq -r '.Tags[]' | \
          grep -E '^v?[0-9]+\.[0-9]+\.[0-9]+$' | \
          sed 's/^v//' | \
          sort -V | \
          tail -n 1)

        {
          echo "minio-tag=$minio_version"
          echo "rqlite-tag=$rqlite_version"
          echo "dex-tag=$dex_version"
        } >> "$GITHUB_OUTPUT"

    - name: Build and push minio image
      uses: ./.github/actions/build-dep-image-with-apko
      with:
        apko-config: deploy/minio/apko.yaml
        image-name: index.docker.io/kotsadm/minio:${{ steps.get-tags.outputs.minio-tag }}
        registry-username: ${{ secrets.DOCKERHUB_USER }}
        registry-password: ${{ secrets.DOCKERHUB_PASSWORD }}
        overwrite: ${{ github.event.inputs.overwrite }}

    - name: Copy rqlite image
      run: |
        skopeo copy --all \
          --dest-creds "${{ secrets.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_PASSWORD }}" \
          docker://proxy.replicated.com/library/rqlite:${{ steps.get-tags.outputs.rqlite-tag }} \
          docker://index.docker.io/kotsadm/rqlite:${{ steps.get-tags.outputs.rqlite-tag }}

    - name: Copy dex image
      run: |
        skopeo copy --all \
          --dest-creds "${{ secrets.DOCKERHUB_USER }}:${{ secrets.DOCKERHUB_PASSWORD }}" \
          docker://proxy.replicated.com/library/dex:v${{ steps.get-tags.outputs.dex-tag }} \
          docker://index.docker.io/kotsadm/dex:${{ steps.get-tags.outputs.dex-tag }}


  update-image-deps:
    needs: [build-3rd-party-images]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run Update Script
        env:
          GITHUB_AUTH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          go run ./cmd/imagedeps

      - name: Create Pull Request # creates a PR if there are differences
        uses: peter-evans/create-pull-request@v7
        id: cpr
        with:
          token: ${{ secrets.GH_PAT }}
          commit-message: Update KOTS image dependency tags
          title: 'Automated KOTS Image Dependency Tag Update'
          branch: automation/image-dependencies
          delete-branch: true
          labels: |
            automated-pr
            images
            type::security
          draft: false
          base: "main"
          body: "Automated changes by the [image-deps-updater](https://github.com/replicatedhq/kots/blob/main/.github/workflows/image-deps-updater.yaml) GitHub action"

      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"

      - name: Slack Notification
        if: ${{ steps.cpr.outputs.pull-request-number }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.KOTS_IMAGE_DEPS_SLACK_WEBHOOK }}
          webhook-type: webhook-trigger
          payload: |
            pull_request_url: "${{steps.cpr.outputs.pull-request-url}}"
