name: kotsadm-build

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"

jobs:

  generate-schema:
    runs-on: ubuntu-18.04
    container:
      image: schemahero/schemahero:0.9.0
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate fixtures
        run: |
          /schemahero fixtures \
            --input-dir ./kotsadm/migrations/tables \
            --output-dir ./kotsadm/migrations/fixtures/schema \
            --dbname ship-cloud --driver postgres

      - name: Upload schema artifact
        uses: actions/upload-artifact@v2
        with:
          name: schema
          path: ./kotsadm/migrations/fixtures/schema/fixtures.sql


  generate-fixtures:
    runs-on: ubuntu-18.04
    needs: [generate-schema]
    container:
      image: replicated/gitops-builder:buildkite
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Download schema artifact
      uses: actions/download-artifact@v2
      with:
        name: schema
        path: ./kotsadm/migrations/fixtures/schema

    - name: Build fixtures
      run: make -C kotsadm/migrations/fixtures deps build run

    - name: Upload fixtures artifact
      uses: actions/upload-artifact@v2
      with:
        name: fixtures
        path: ./kotsadm/migrations/fixtures/fixtures.sql


  publish-fixtures:
    runs-on: ubuntu-18.04
    needs: [generate-fixtures]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Download fixtures artifact
      uses: actions/download-artifact@v2
      with:
        name: fixtures
        path: ./kotsadm/migrations/fixtures

    - name: Publish fixtures
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        make -C kotsadm/migrations/fixtures publish


  build-schema-migrations:
    runs-on: ubuntu-18.04
    needs: [publish-fixtures]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      env:
        DOCKER_CONFIG: ./kotsadm/migrations/.docker
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Build
      if: ${{ github.ref == 'refs/heads/master' }}
      env:
        DOCKER_CONFIG: ./.docker
      run: |
        make -C kotsadm/migrations schema-alpha

    - name: "Release schema migrations on tag"
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      env:
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        DOCKER_CONFIG: ./.docker
      uses: ./actions/containers
      with:
        command: "make -C kotsadm/migrations schema-release"

    - name: Upload airgap image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/upload-artifact@v2
      with:
        name: migrations-image
        path: ./kotsadm/migrations/bin/docker-archive


  test_web:
    runs-on: ubuntu-18.04
    needs: [build-schema-migrations]
    container:
      image: replicated/gitops-builder:buildkite
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.4
      with:
        node-version: '10'
      
    - name: Install cross-env
      run: npm i -g cross-env
      shell: bash

    # - name: Test web
    #   env:
    #     PACT_BROKER_USERNAME: ${{ secrets.PACT_BROKER_USERNAME }}
    #     PACT_BROKER_PASSWORD: ${{ secrets.PACT_BROKER_PASSWORD }}
    #   run: |
    #     make -C kotsadm/web deps test publish-pact

      # TODO: migrate retry logic for pacts
      # retry:
      #   automatic:
      #     # this command exiting with status 2 typically means that the yarn package failed to download
      #     - exit_status: 2
      #       limit: 5


  build_web:
    runs-on: ubuntu-18.04
    needs: [build-schema-migrations]
    container:
      image: replicated/gitops-builder:buildkite
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.4
      with:
        node-version: '10'

    - name: Build web
      env:
        GIT_COMMIT: ${{ github.sha }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
      run: make -C kotsadm/web deps build-kotsadm
      ## TODO: retry logic
      # retry:
      #   automatic:
      #     # this command exiting with status 2 typically means that the yarn package failed to download
      #     - exit_status: 2
      #       limit: 5

    - name: Upload web artifact
      uses: actions/upload-artifact@v2
      with:
        name: web
        path: ./kotsadm/web/dist


  build_operator:
    runs-on: ubuntu-18.04
    needs: [build-schema-migrations]
    container:
      image: replicated/gitops-builder:buildkite-go14-node10
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Build operator
      env:
        GIT_COMMIT: ${{ github.sha }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        SCOPE_DSN_PUBLIC: ""
      run: SCOPE_DSN=$SCOPE_DSN_PUBLIC make -C kotsadm/operator test build

    - name: Upload operator bin artifact
      uses: actions/upload-artifact@v2
      with:
        name: operator
        path: ./kotsadm/operator/bin

    - name: Upload operator pact artifact
      uses: actions/upload-artifact@v2
      with:
        name: operator
        path: ./kotsadm/operator/pacts


  build_kurl_proxy:
    runs-on: ubuntu-18.04
    needs: [build-schema-migrations]
    container:
      image: replicated/gitops-builder:buildkite-go14-node10
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Build kurl_proxy
      env:
        GIT_COMMIT: ${{ github.sha }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        SCOPE_DSN_PUBLIC: ""
      run: SCOPE_DSN=$SCOPE_DSN_PUBLIC make -C kotsadm/kurl_proxy test build

    - name: Upload kurl_proxy artifact
      uses: actions/upload-artifact@v2
      with:
        name: kurl_proxy
        path: ./kotsadm/kurl_proxy/bin


  build_go_api:
    runs-on: ubuntu-18.04
    needs: [test_web, build_web, build_operator, build_kurl_proxy]
    container:
      image: replicated/gitops-builder:buildkite-go14-node10
      options: --user root
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4 # not @v2 because of: https://github.com/actions/checkout/issues/126

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Build Go API
      env:
        GIT_COMMIT: ${{ github.sha }}
        # GITHUB_SHA: ${{ github.sha }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        # GITHUB_REPOSITORY:
        # GITHUB_WORKSPACE:
        SCOPE_DSN_PUBLIC: ""
      run: SCOPE_DSN=$SCOPE_DSN_PUBLIC make -C kotsadm test kotsadm

    - name: Upload Go API artifact
      uses: actions/upload-artifact@v2
      with:
        name: go_api
        path: ./kotsadm/bin


  release_go_api_alpha:
    runs-on: ubuntu-18.04
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [build_web, build_go_api]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Download go_api artifact
      uses: actions/download-artifact@v2
      with:
        name: go_api
        path: ./kotsadm/bin

    - name: Add executable permissions
      run: chmod a+x ./kotsadm/bin/kotsadm

    - name: Download web artifact
      uses: actions/download-artifact@v2
      with:
        name: web
        path: ./kotsadm/web/dist

    - name: Build alpha release
      env:
        GIT_COMMIT: ${{ github.sha }}
      run: |
        make -C kotsadm build-alpha


  release_go_api_tagged:
    runs-on: ubuntu-18.04
    needs: [build_web, build_go_api]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      env:
        DOCKER_CONFIG: ./kotsadm/.docker
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}
  
    - name: Download go_api artifact
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: go_api
        path: ./kotsadm/bin

    - name: Add executable permissions
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      run: chmod a+x ./kotsadm/bin/kotsadm

    - name: Download web artifact
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: web
        path: ./kotsadm/web/dist

    - name: Build tagged release
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      env:
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        DOCKER_CONFIG: ./.docker
      uses: ./actions/containers
      with:
        command: "make -C kotsadm build-release"

    - name: Upload airgap image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/upload-artifact@v2
      with:
        name: kotsadm-image
        path: ./kotsadm/bin/docker-archive


  release_operator_alpha:
    runs-on: ubuntu-18.04
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [build_operator]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Download operator artifact
      uses: actions/download-artifact@v2
      with:
        name: operator
        path: ./kotsadm/operator/bin

    - name: Add executable permissions
      run: chmod a+x ./kotsadm/operator/bin/kotsadm-operator

    - name: Build alpha release
      env:
        GIT_COMMIT: ${{ github.sha }}
      run: |
        make -C kotsadm/operator build-alpha


  release_operator_tagged:
    runs-on: ubuntu-18.04
    needs: [build_operator]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      env:
        DOCKER_CONFIG: ./kotsadm/operator/.docker
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Download operator artifact
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: operator
        path: ./kotsadm/operator/bin

    - name: Add executable permissions
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      run: chmod a+x ./kotsadm/operator/bin/kotsadm-operator

    - name: Copy binary
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      run: |
        mkdir -p kotsadm/operator/deploy/bin
        cp kotsadm/operator/bin/kotsadm-operator kotsadm/operator/deploy/bin/kotsadm-operator

    - name: Build tagged release
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      env:
        GIT_COMMIT: ${{ github.sha }}
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        DOCKER_CONFIG: ./.docker
      uses: ./actions/containers
      with:
        command: "make -C kotsadm/operator build-release"

    - name: Upload airgap image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/upload-artifact@v2
      with:
        name: kotsadm-operator-image
        path: ./kotsadm/operator/bin/docker-archive


  build_kurl_proxy_alpha:
    runs-on: ubuntu-18.04
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [build_kurl_proxy]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Download kurl_proxy artifact
      uses: actions/download-artifact@v2
      with:
        name: kurl_proxy
        path: ./kotsadm/kurl_proxy/bin

    - name: Add executable permissions
      run: chmod a+x ./kotsadm/kurl_proxy/bin/kurl_proxy

    - name: Build alpha release
      env:
        GIT_COMMIT: ${{ github.sha }}
      run: |
        make -C kotsadm/kurl_proxy build-alpha


  build_kurl_proxy_tagged:
    runs-on: ubuntu-18.04
    needs: [build_kurl_proxy]
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Setup Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: "1.14.3"

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}
  
    - name: Download kurl_proxy artifact
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: kurl_proxy
        path: ./kotsadm/kurl_proxy/bin

    - name: Add executable permissions
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      run: chmod a+x ./kotsadm/kurl_proxy/bin/kurl_proxy

    - name: Build tagged release
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      env:
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
      run: |
        make -C kotsadm/kurl_proxy build-release


  build_minio_alpha:
    runs-on: ubuntu-18.04
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build alpha release
      env:
        GIT_COMMIT: ${{ github.sha }}
      run: |
        make -C kotsadm/minio publish-latest


  build_minio_tagged:
    runs-on: ubuntu-18.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - uses: azure/docker-login@v1
      env:
        DOCKER_CONFIG: ./kotsadm/minio/.docker
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Build tagged release
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      env:
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
        DOCKER_CONFIG: ./.docker
      uses: ./actions/containers
      with:
        command: "make -C kotsadm/minio publish-release"

    - name: Upload airgap image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/upload-artifact@v2
      with:
        name: kotsadm-minio-image
        path: ./kotsadm/minio/bin/docker-archive


  build_airgap:
    runs-on: ubuntu-18.04
    needs: [release_go_api_tagged, release_operator_tagged, build_minio_tagged]
    steps:
    - name: Get the version
      if: startsWith(github.ref, 'refs/tags/')
      id: get_tag
      shell: bash
      run: echo ::set-output name=GIT_TAG::${GITHUB_REF/refs\/tags\//}

    - name: Download migrations
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: migrations-image
        path: ./docker-archive

    - name: Download kotsadm image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: kotsadm-image
        path: ./docker-archive

    - name: Download kotsadm-operator image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: kotsadm-operator-image
        path: ./docker-archive

    - name: Download kotsadm-minio image
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/download-artifact@v2
      with:
        name: kotsadm-minio-image
        path: ./docker-archive

    - name: Get Release
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      id: get_release
      uses: bruceadams/get-release@v1.2.2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Make kotsadm airgap archive
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      run: |
        tar czf ./kotsadm.tar.gz -C ./ ./docker-archive

    - name: Upload airgap bundle
      if: ${{ steps.get_tag.outputs.GIT_TAG != '' }}
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/replicatedhq/kots/releases/${{ steps.get_release.outputs.id }}/assets?name=kotsadm.tar.gz
        asset_path: ./kotsadm.tar.gz
        asset_name: kotsadm.tar.gz
        asset_content_type: application/gzip
