name: kurl-addon-test

on:
  workflow_dispatch:
    inputs:
      addon_version:
        type: string
        description: "Kots version."
        required: true
      s3_prefix:
        type: string
        description: "S3 key prefix."
        default: "test/"
  workflow_call:
    inputs:
      addon_version:
        type: string
        description: "Kots version."
        required: true
      s3_prefix:
        type: string
        description: "S3 key prefix."
        default: "test/"
    outputs:
      addon_package_url:
        description: "S3 package url"
        value: ${{ jobs.generate-kots-addon.outputs.addon_package_url }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  addon_version: ${{ inputs.addon_version }}

jobs:
  generate-kots-addon:
    uses: ./.github/workflows/kurl-addon-kots-generate.yaml
    with:
      addon_version: "${{ env.addon_version }}"
      s3_prefix: "${{ env.s3_prefix }}"

  test-kots-addon:
    runs-on: ubuntu-20.04
    needs: generate-kots-addon
    steps:
      - uses: actions/checkout@v3
      - name: set outputs
        id: vars
        run: echo "::set-output name=sha_short::${GITHUB_SHA:0:7}"
      - uses: replicatedhq/kurl/.github/actions/addon-testgrid-tester@main
        with:
          addon: "kotsadm"
          version: "${{ env.addon_version }}"
          package-url: "${{ needs.generate-kots-addon.outputs.addon_package_url }}"
          testgrid-spec-path: "deploy/kurl/kotsadm/template/testgrid"
          testgrid-run-prefix: "KOTS-${{ env.addon_version }}-${{ github.ref }}-${{ steps.vars.outputs.sha_short }}"
          testgrid-api-token: "${{ secrets.TESTGRID_PROD_API_TOKEN }}"
