name: trigger-nightly

on:
  push:
    branches:
      - main
      - seanrester/sc-48130/change-kots-release-nightly-testing-to-be

jobs:
  trigger-nightly:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Get tags
      id: get_tag
      uses: ./actions/version-tag

    - name: Push nightly tag
      env:
        GIT_TAG: ${{ steps.get_tag.outputs.GIT_TAG }}
      run: |
        git tag $GIT_TAG
        git push origin $GIT_TAG

  image-deps-updater:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.17.4'

    - name: Run Update Script
      env:
        GITHUB_AUTH_TOKEN: ${{ secrets.NIGHTLY_GH_PAT }}
      run: |
        go run ./cmd/imagedeps

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v3
      id: cpr
      with:
        token: ${{ secrets.NIGHTLY_GH_PAT }}
        commit-message: update kots image dependency tags
        title: 'Automated Kots Image Dependency Tag Update'
        branch: automation/image-dependencies
        delete-branch: true
        labels: |
          automated-pr
          images
        draft: false
        base: "main"
        body: "Automated changes by the [trigger-nightly](https://github.com/replicatedhq/kots/blob/main/.github/workflows/nightly.yaml) GitHub action"
    
    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
