name: tag-helm-chart

on:
  release:
    types: [released]

jobs:
  tag-helm-chart:
      runs-on: ubuntu-20.04
      if: github.event.action == 'released'
      steps:
        - name: Checkout Chart
          uses: actions/checkout@v4
          with:
            repository: replicatedhq/kots-helm
            token: ${{ secrets.GH_PAT }}
            ref: main
        - name: Tag Chart
          run: |
            git tag "${GITHUB_REF_NAME}-alpha"
            git push origin "${GITHUB_REF}-alpha"
            git tag "${GITHUB_REF_NAME}"
            git push origin "${GITHUB_REF_NAME}"
