apiVersion: v1
kind: Service
metadata:
  name: kotsadm-web
  labels:
    app: kotsadm-web
  annotations:
    dev.okteto.com/auto-ingress: "true"
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: http
  selector:
    app: kotsadm-web
