{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-refresh/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}
