{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      },
      "alias": {
        "map": [
          [
            "@src",
            "./src"
          ]
        ]
      }
    }
  },
  "extends": [
    "prettier",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ],
  "plugins": ["react", "jsx-a11y", "prettier", "jest"],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    // use object destructured imports / exports
    "import/prefer-default-export": "off",
    // allows window._paq to be used in the code
    "no-underscore-dangle": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "function-declaration",
      },
    ],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx"
      ],
      "env": {
        "jest": true
      },
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}